

.wrapper__main {
    margin-left: $sider-width;
    min-width: 1100px;
    transition: margin-left .2s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition-property: top,bottom,margin-left,background-image;
    transition-duration: .2s,.2s,.35s,.3s;
    transition-timing-function: linear,linear,ease,linear;
}

.main__breadcrumb {
    flex-shrink:0;
    padding: 24px 24px;
}

.main__content {
    margin: 0 24px;
    height: 100%;
}

.main__footer {
    margin: 24px 24px;
    text-align: center;
    flex-shrink: 0;
}

.main__plugin {
    position: fixed;
    right: 0;
    width: 64px;
    background: rgb(0, 0, 0);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
    top: 85px;
    .plugin__btn {
        color: #eaeaea;
        font-size: 2rem;
        margin: 1rem 1.76rem;
        cursor: pointer
    }
}
.plugin-opts {

}
.plugin-opts__title {
    padding: 5px 2px;
    height: 30px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.plugin-opts__item {
    border-bottom: 1px solid $border-color;

    .image-item {
        width: 25%;
        float: right;
        padding: 5px;
        font-size: 0;
    }
    .image-item a {
        display: block;
        border-radius: 5px;
        overflow: hidden;
        border: 2px solid rgb(255, 255, 255);
        transition: border-color .3s ease-in;
    }
    .image-item a:hover, .image-item a.active {
        border-color: $primary;
    }
    .image-item img {
        width: 100%;
        height: 100px;
    }

    .badge {
        border: 3px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 23px;
        margin-right: 5px;
        position: relative;
        width: 23px;
        padding: 8px;
        transition: all .34s;
    }
    $badge-colors: (
        "purple": #9c27b0,
        "blue": #00bcd4,
        "green": #4caf50,
        "orange": #ff9800,
        "rose": #e91e63,
        "red": $logo-color,
        "black": black,
        "white": hsla(0,0%,78%,.2)
    );
    @each $color, $value in $badge-colors {
        .badge-#{$color} {
            background-color: $value;
        }
    }
    .badge:hover, .badge.active {
        border-color: $primary;
    }


}
.plugin-opts__item--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    span {
        text-transform: capitalize;
    }
}
















// 内容管理工具栏部分
.filter-form {
    float: left;
    margin-right: 20px;
}
.filter-form .ivu-form-item {
    margin-bottom: 0;
    &:last-child .ivu-form-item-content {
        margin-left: 0 !important;
    }
}
.table-buttons{
    text-align: right;
    font-size: 0;
    flex-shrink: 0;
}
.table-buttons button {
    &:focus {
        outline: none;
        box-shadow: none;
    }
    i {
        font-size: 18px;
        line-height: 1;
    }
}
.table-buttons .ivu-select-dropdown {
    text-align: left;
}
.ivu-table {
    height: inherit;
}
.ivu-table-wrapper, .page-bar{
    margin-top: 15px;
}
.page-bar {
    display: flex;
    align-items: center;
}

.cm-container {
    display: flex;
    flex-direction: column;
    overflow: visible;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 24px 24px 0;
    min-height: 700px;
}
.cm-header {
    position: relative;
    font-size: 12px;
    margin-top: 15px;
    .ivu-breadcrumb-item-link {
        font-size: 12px;
    }

    .ivu-breadcrumb {
        //position: absolute;
        //top: 0;
        //left: 10px;
    }
}

.cm-wrapper {
    margin: 15px -24px 0;
    height: 100%;
    position: relative;
    flex: auto;
    overflow-y: hidden;
    .cm-wrapper--table {
        border: none;
        margin-top: 0;
    }
    .cm-wrapper--table tr>th:first-child .ivu-table-cell, .cm-list-table tr>td:first-child .ivu-table-cell {
        padding-left: 20px;
        padding-right: 0;
        .ivu-checkbox-wrapper {
            margin-right: 0;
        }
    }
    .cm-wrapper--table .ivu-table:after {
        width: 0;
    }
}
.cm-container--flex {
    display: flex;
    flex-direction: row;
    @at-root #{&}__left {
        width: 100%;
        padding-right: 24px;
        //border-right: 1px solid $border-color;
        @extend .cm-container
    }
    @at-root #{&}__modal {
        max-width: 500px;
        min-width: 350px;
        flex-shrink: 1;
        padding: 0 0 0 24px;
        //border-top: 1px solid $border-color;
    }
    .cm-wrapper {
        margin: 15px 0 0 -24px !important;
    }
}

