

.wrapper__main {
    margin-left: $sider-width;
    min-width: 1100px;
    transition: margin-left .2s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition-property: top,bottom,margin-left,background-image;
    transition-duration: .2s,.2s,.35s,.3s;
    transition-timing-function: linear, linear, ease, linear;
}

.main__breadcrumb {
    flex-shrink:0;
    padding: 24px 24px;
    .h3 {
        float: right;
        font-weight: 400;
    }
    .ivu-breadcrumb span.ivu-breadcrumb-item-link {
        cursor: pointer;
        font-size: 1rem;
    }
    .ivu-breadcrumb > span:last-child .ivu-breadcrumb-item-link {
        cursor: default;
    }
    .ivu-breadcrumb i {
        font-size: 14px;
        margin-right: 0.75rem;
        vertical-align: middle;
    }
}

.main__content {
    margin: 0 24px;
    height: 100%;
}

.main__footer {
    margin: 24px 24px;
    text-align: center;
    flex-shrink: 0;
}
