$nav-height: 56px;
.wrapper-header {
    //position: fixed;
    width: 100%;
    //top: 0;
    //right: 0;
    //left: 0;
    z-index: 1000;
    //overflow: hidden;
    .ivu-menu-horizontal {
        height: $nav-height;
        line-height: $nav-height;
    }
    .ivu-menu {
        z-index: 901;
        //box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
    }
}

.wrapper-header-nav-list-right {
    height: inherit;
    float: right;
    margin-right: 10px;
    .ivu-avatar-small > i {
        margin-right: 0;
    }
    .menu-user {
        padding: 0 10px !important;
        height: inherit;
        line-height: inherit;

    }
}

.wrapper-header-nav-list {
    .ivu-menu-item a {
        color: inherit;
    }
}

.wrapper-header-nav-search {
    height: inherit;
    float: left;
    margin-left: 15px;
    .ivu-select {
        width: 300px;
        font-size: 14px;
    }
    .ivu-input {
        border: none;
        background: #eee;
    }
    .ivu-input:focus {
        box-shadow: none;
    }
    .ivu-select-visible .ivu-select-selection, .ivu-select:focus .ivu-select-selection {
        box-shadow: none;
    }
    .ivu-select-selection {
        border: 0;
    }

}

@media screen and (max-width: 785px) {
    .wrapper-header-nav-search {
        display: none;
    }
}

// 导航自动完成
.demo-auto-complete-item {
    padding: 4px 0;
    border-bottom: 1px solid #F6F6F6;
}

.demo-auto-complete-group {
    font-size: 12px;
    padding: 4px 6px;
}

.demo-auto-complete-group span {
    color: #666;
    font-weight: bold;
}

.demo-auto-complete-group a {
    float: right;
}

.demo-auto-complete-count {
    float: right;
    color: #999;
}

.demo-auto-complete-more {
    display: block;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    font-size: 12px;
}

//.wrapper-container {
//  background: #fff;
//  margin: $nav-height+15 auto 15px;
//  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
//}
.wrapper-container {
    background: #fff;
    margin: -2px auto 0;
    //box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    height: calc(100% - 45px - 2px);
}
