

// 内容管理工具栏部分
.filter-form {
    float: left;
    margin-right: 20px;
}
.filter-form .ivu-form-item {
    margin-bottom: 0;
    &:last-child .ivu-form-item-content {
        margin-left: 0 !important;
    }
}
.table-buttons{
    text-align: right;
    font-size: 0;
    flex-shrink: 0;
}
.table-buttons button {
    &:focus {
        outline: none;
        box-shadow: none;
    }
    i {
        font-size: 18px;
        line-height: 1;
    }
}
.table-buttons .ivu-select-dropdown {
    text-align: left;
}
.ivu-table {
    height: inherit;
}
.ivu-table-wrapper, .page-bar{
    margin-top: 15px;
}
.page-bar {
    display: flex;
    align-items: center;
}

.cm-container {
    display: flex;
    flex-direction: column;
    overflow: visible;
}
.cm-header {
    position: relative;
    font-size: 12px;
    margin-top: 15px;
    .ivu-breadcrumb-item-link {
        font-size: 12px;
    }

    .ivu-breadcrumb {
        //position: absolute;
        //top: 0;
        //left: 10px;
    }
}

.cm-wrapper {
    margin: 15px -24px 0;
    height: 100%;
    position: relative;
    flex: auto;
    overflow-y: hidden;
    .cm-wrapper--table {
        border: none;
        margin-top: 0;
    }
    .cm-wrapper--table tr>th:first-child .ivu-table-cell, .cm-list-table tr>td:first-child .ivu-table-cell {
        padding-left: 20px;
        padding-right: 0;
        .ivu-checkbox-wrapper {
            margin-right: 0;
        }
    }
    .cm-wrapper--table .ivu-table:after {
        width: 0;
    }
}
.cm-container--flex {
    display: flex;
    flex-direction: row;
    @at-root #{&}__left {
        width: 100%;
        padding-right: 24px;
        //border-right: 1px solid $border-color;
        @extend .cm-container
    }
    @at-root #{&}__modal {
        width: 500px;
        flex-shrink: 0;
        padding: 0 24px;
        //border-top: 1px solid $border-color;
    }
    .cm-wrapper {
        //margin: 15px 0 0 -24px !important;
    }
}

