// 编辑文章页面
.post-writer-content {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    flex: 1;
    overflow: hidden;
}

// 左侧
.post-body-content {
    position: relative;
    flex-basis: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.post-title-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    input.title {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        margin-bottom: 0;
        border: none;
        // border-bottom: 1px solid #d9d9d9;
        font-size: 25px;
        font-weight: normal;
        line-height: 30px;
        box-shadow: none;
        outline: none;
        -webkit-appearance: none;
    }
}
.post-tag-wrap {
    flex-shrink: 0;
    padding: 0 20px;
    cursor: default;
    color: #868E8E;

    .input-tag{
        display: inline-block;
        position: static;
        padding: 0;
        width: 8.2em;
        line-height: 1.21428571em;
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: #000;
        outline: 0;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
        z-index: 2;
    }
}

.saving-notice {
    position: absolute;
    top: 0;
    right: 7px;
    z-index: 1140;
}

.post-markdown-wrap {
    flex-basis: 100%;
    height: 100%;
    overflow: hidden;
}

// 右侧
.postbox-container {
    flex-basis: 350px;
    flex-shrink: 0;
    padding: 20px;
    overflow: scroll;

}
.postbox {
    margin-bottom: 20px;
}
//.postbox.sortable-chosen {
//    position: relative;
//    &:after {
//        content: ' ';
//        position: absolute;
//        top: 0;
//        left: 0;
//        background-color: $gray-100;
//        width: 100%;
//        height: 100%;
//        border-radius: 5px;
//        border: 1px dashed $gray-300;
//    }
//}
.postbox .ivu-card-head {
    background-color: $gray-100;
}
.postbox .ivu-card-extra {
    top: 10px;
}
.postbox .postbox-options {
    border-top: 1px solid $gray-300;
    font-size: 12px;
    padding: 10px 0 0;
}

.j-collapse {
    font-size: 13px;
}
.j-collapse-item {
    margin-bottom: 5px;
}
.j-collapse-body {
    padding: 5px;
}
.j-collapse-item .j-collapse-header i {
    font-size: 16px;
    width: 16px;
    margin-right: 5px;
}

// _overload-markdown
.v-note-wrapper .v-note-op.shadow,
.v-note-wrapper .v-note-panel.shadow{
    box-shadow: none !important;
}
//.post-markdown-wrap .v-note-wrapper {
//    z-index: 1011;
//}


.flip-list-move {
    transition: transform 0.5s;
}

.post-tag-list {
    max-height: 30vh;
    .ivu-checkbox-group-item {
        display: block;
        padding: 5px 0;
    }
}
