.upload-modal {
    width: 633px;
    top: auto;
    bottom: -1px;
    left: auto;
    right: 35px;
    display: block;
    visibility: visible;
    z-index: 1001;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid #e2e2e2;
    .ivu-modal-content {
        border-radius: 0;
    }
    .ivu-modal-size {
        font-size: 12px;
        position: absolute;
        right: 38px;
        top: 8px;
        overflow: hidden;
        cursor: pointer;
        i {
            font-size: 22px;
            color: #999;
            -webkit-transition: color .2s ease;
            transition: color .2s ease;
            position: relative;
            top: 6px;
        }
    }
    .upload-list {
        border: none;
        margin: -16px -16px 0;
        .ivu-table:after {
            content: none;
        }
        .ivu-table th {
            //background-color: transparent;
        }
    }
    .upload-list-footer-tip {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.el-message-fade-enter,
.el-message-fade-leave-active {
    opacity: 0;
    transform: translate(-50%, -100%)
}

.upload-notice-list {
    list-style: none;
    li {
        line-height: 1.5;
    }
}
