@import "./sass/public";
@import "./sass/card";
.jumbotron  {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    height:320px;
    background: no-repeat fixed center center;
    background-size: cover;
    padding-top: $header-height;
    padding-bottom: $header-height;
    color: $gray-200;
    .container {
        height: 100%;
    }
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
        font-weight: 100;
    }
}

.j-card__block {
    transition: box-shadow 0.2s ease;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    //margin-left: .5rem;
    margin-bottom: 6rem;
    min-height: 235px; // 至少有标题 有三行说明的情况
    &:hover {
        box-shadow: 0 5px 20px rgba(0,0,0,.1);
    }
    .card__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card__content {
        min-height: 85px;
    }
}
.j-category--item {
    padding: 0 .5rem 3rem;
}

