@import "./sass/functions";
@import "./sass/var";
@import "./sass/variables";
@import "./sass/mixins";
@import "./sass/utilities";
@import "./sass/icon";
@import "./cm-sass/reboot";

$sider-bg-color : #282d2f;
$sider-bg-deep-color : #1f2224;
@import "cm-sass/overload-iview";
@import "cm-sass/cm";
@import "cm-sass/cm-nav";
@import "cm-sass/cm-sidebar";
@import "cm-sass/post-writer";
@import "cm-sass/cms-crud";
@import "sass/scrollbar";

.wrapper {
    background: #eee;
    height: 100%;
}

.wrapper-content {
    //padding: 0 24px 24px;
    //overflow-y: hidden;
    > .ivu-breadcrumb {
        flex-shrink:0;
        padding: 24px 24px;
    }
    > .ivu-layout-content {
        margin: 0 24px;
        background: rgb(255, 255, 255);
        border-radius: 6px;
        padding: 24px 24px 0;
        min-height: 700px;
        //box-shadow: 0 0 2px #ccc;
    }
}


.layout-footer-center {
    margin: 24px 24px;
    text-align: center;
    flex-shrink: 0;
}
