@import "./sass/functions";
@import "./sass/var";
@import "./sass/variables";
@import "./sass/mixins";
@import "./sass/utilities";
@import "./sass/icon";
@import "./cm-sass/reboot";

$sider-bg-color : #282d2f;
$sider-bg-deep-color : #1f2224;
$sider-width: 240px;
$sider-collapsed-width: 78px;

@import "cm-sass/overload-iview";
@import "cm-sass/cm";
@import "cm-sass/cm-nav";
@import "cm-sass/cm-sidebar";
@import "cm-sass/post-writer";
@import "cm-sass/cms-crud";
@import "sass/scrollbar";

.wrapper {
    background: #eee;
    height: 100%;
    min-width: 1103px;
    overflow: auto;
}


.wrapper__content {
    margin-left: $sider-width;
    min-width: 1100px;
    transition: margin-left .2s ease-in-out;
    > .ivu-breadcrumb {
        flex-shrink:0;
        padding: 24px 24px;
    }
    > .ivu-layout-content {
        margin: 0 24px;
        //box-shadow: 0 0 2px #ccc;
    }
}
