@import "./sass/functions";
@import "./sass/var";
@import "./sass/variables";
@import "./sass/mixins";
@import "./sass/utilities";
@import "./sass/icon";
@import "./cm-sass/reboot";


$nav-height: 56px;

$sider-bg-color : #282d2f;
$sider-bg-deep-color : #1f2224;
$sider-width: 240px;
$sider-collapsed-width: 78px;

@import "cm-sass/overload-iview";
@import "cm-sass/cm-layout";
@import "cm-sass/cm-nav";
@import "cm-sass/cm-sidebar";
@import "cm-sass/post-writer";
@import "cm-sass/cms-crud";
@import "cm-sass/media-management";
@import "cm-sass/upload";
@import "cm-sass/site";
@import "sass/scrollbar";

.wrapper {
    background: #eee;
    height: 100%;
    min-width: 1103px;
    overflow-x: auto;
    overflow-y: hidden;
}

