// 公共样式 - 针对除后台的部分
@import "./sass/functions";
@import "./sass/var";
@import "./sass/variables";
@import "./sass/mixins";
@import "./sass/utilities";
@import "./sass/reboot";
@import "./sass/nav";
@import "./sass/icon";
@import "./sass/footer";
@import "./sass/scrollbar";



.h1, .h2, .h3, .h4, .h6, .h5 {
    //font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    //line-height: 1.5em;
}
.j-logo--a {
    color: $main-font-color;
    transition: color 0.2s ease;
    &:hover {
        color: $logo-color;
        //text-decoration: none;
        //border-bottom: solid 1px $main-font-color;
    }
}


.container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

//.category {
//    padding: 2px 6px;
//    color: $logo-color ;
//    border: 1px solid lighten($logo-color, 70%);
//    border-radius: 3px;
//    margin: 0;
//}

.j-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

// 框样式 块样式
.j-block {
    position: relative;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 0 5px 0 #e2e3e4;
    border-bottom: 1px solid #d3d5d7;
    &::before, &::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #FFF;
        border-bottom: 1px solid #d3d5d7;
        box-shadow: 0 0 5px 0 #e2e3e4;
        left: 0;
        position: absolute;
    }
    &::before {
        bottom: 2px;
    }
    &::after {
        bottom: 5px;
    }
}

.ivu-tabs-ink-bar {
    background-color: $logo-color;
}
.ivu-tabs-nav .ivu-tabs-tab-active {
    color: $logo-color;
}
.ivu-tabs-nav .ivu-tabs-tab:hover {
    color: $logo-color;
}
