
@import "./sass/public";
@import "./sass/article";
.wrapper-header .container{
    height: inherit;
}
.header-top {
    position: relative;
    overflow: hidden;
    width: 100%;
    .center-bg {
        width: 100%;
        z-index: 0;
        height:420px;
        background: no-repeat fixed center center;
        background-size: cover;
        // background-image: url("http://oht47c0d0.bkt.clouddn.com/17-1-12/40769947-file_1484187390610_17ae7.png");
        // filter: blur(0px);
    }
    .center-bg .avatar {
        display: block;
        text-align: center;
        cursor: default;
        //margin-top: -120px;
    }
    .center-bg .avatar > img {
        width: 120px;
        cursor: pointer;
        height: auto;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.3);
    }
    .center-bg .avatar-p {
        text-align: center;
        width: 450px;
        margin:30px auto 0;
        font-size: 14px;
        color: #EAEADF;
        background: rgba(0, 0, 0, 0.66);
        padding: 20px 30px;
        //font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
        letter-spacing: 1px;
        line-height: 20px;
        white-space: nowrap;
    }

}
.slant {
    background-color: $app-body-background-color;
    width: 101%;
    position: absolute;
    bottom: -65px;
    right: 48%;
    height: 150px;
    transform: rotate(3deg);
}

.slant.right {
    left: auto;
    left: 48%;
    transform: rotate(-3deg);
}
.articles {
    padding: 0;
}


