// 页面底部
.footer {
    background: #202020;
    padding: 35px 0 0;
    width: 100%;
    border-top: 1px solid #373a3c;
    color: rgba(236, 235, 231, 0.5);
}

.widget {
    padding: 0px 3rem;
    margin-bottom: 3.5rem;
}

.widget__title {
    color: #ffffff;
    border-bottom: 1px solid $main-title-color;
    margin-top: 0;
    padding-bottom: 7px;
    margin-bottom: 21px;
    position: relative;
    &::after {
        content: "";
        width: 90px;
        height: 1px;
        background: $logo-color;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
}

.widget__content {
    > li {
        margin-bottom: 4px;
    }
    > li > a {
        color: $main-font-color;
        border-bottom: dotted 1px $main-font-color;
        &:hover {
            text-decoration: none;
            border-bottom: solid 1px $main-font-color;
        }
    }
}

.recent-post {

}

.footer--site-desc {
    ul {
        display: flex;
        align-items: center;
    }
    .j-logo--a {
        width: 30px;
        height: 30px;
        border: 2px solid $main-font-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s ease;
    }
    .j-logo--a:hover {
        border-color: $logo-color;
    }
}

.recent-post--item {
    //border-bottom: 1px dashed $border-color;
    border-bottom: 1px dashed $main-title-color;
    padding-bottom: 14px;
    margin-bottom: 14px;
    .post-title {
        color: $main-title-sub-color;
        transition: all 0.2s ease;
        display: block;
        &:hover {
            color: $logo-color;
            text-decoration: none;
        }
    }
    .date {
        color: $main-font-color;
        font-size: 1rem;
    }
}

.copyright {
    text-align: center;
    background: #111;
    font-size: 13px;
    color: $main-font-color;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid $main-title-color;
    a {
        color: $main-title-sub-color;
    }
    span {
        margin: 0 .5em;
    }
}

//.recent-post--item {
//    border-bottom: 1px dashed $main-title-color;
//    border-bottom: 1px dashed #ebebeb;
//    padding-bottom: 14px;
//    margin-bottom: 14px;
//}


