

// 导航部分
.wrapper-header {
    //background-color: white;
    padding: 0;
    border: none;
    transition: all .4s ease;
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    height: $header-height;
    line-height: $header-height;
    right: -7px; // 针对导航边上的滚动

    //
    //&.top {
    //    background-color: transparent;
    //    box-shadow: none;
    //}
    //&.top .ivu-menu-item:not(.ivu-menu-item-active) a{
    //    color: $app-body-background-color;
    //}
    //&.top .ivu-menu-item-active a,
    //&.top .ivu-menu-item:hover a{
    //    //&.top .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active,
    //    //&.top .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover
    //    color: $logo-color;
    //}
}
.wrapper-header__top {
    background-color: transparent;
    box-shadow: none;
    .ivu-menu-item:not(.ivu-menu-item-active) a{
        color: $app-body-background-color;
    }
}
//.wrapper-header__hide {
//    top: -66px;
//}
//.wrapper-header__bit {
//    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
//    top: 0;
//    z-index: 1010;
//}

.wrapper-header-nav {
    background-color: transparent;
    float: right;
    line-height: $header-height;
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    .ivu-menu-item {
        border-bottom: 2px solid transparent;
    }
    .ivu-menu-item a {
        color: inherit;
        display: block;
        padding: 0 2rem;
    }
    // 导航主题颜色
    .ivu-menu-item-active,
    .ivu-menu-item:hover,
    .ivu-menu-submenu-active,
    .ivu-menu-submenu:hover {
        color: $logo-color;
        border-bottom-color: $logo-color;
    }
}

.nav-toggle {
    float: right;
    cursor: pointer;
    position: relative;
    color: white;
    font-size: 24px;
    //padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.wrapper-header-nav-logo {
    display: inline-block;
    height: $header-height;
    font-size: 18px;
    img {
        height: 50px;
        vertical-align: middle;
    }
}

.yya {
    position: fixed;
    left: 0;
    top: 0;
}

.gizle {
    //@extend .fixed-top;
    top: -66px;
}

.sabit {
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
    top: 0;
    z-index: 1010;
}

@media (max-width: 991px) {
    .wrapper-header-nav .layout-nav {
        display: none;
    }
}
@media (min-width: 768px) {
    .wrapper-header-nav {
        display: flex !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .wrapper-header-brand {
        float: left;
    }
    .nav-toggle {
        display: none;
    }
}
// todo 取消响应式导航
/*
//@media (max-width: 991px) and (min-width: 768px) {
//    .wrapper-header-brand {
//        width: 100%;
//    }
//    .nav-toggle {
//        display: block;
//    }
//}
*/
