@import "./sass/public";
@import "./sass/tabs-style";
 //覆盖
.article-a {
    .wrapper-header__top {
        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    }
    .wrapper-header__top .ivu-menu-item:not(.ivu-menu-item-active) a{
        color: inherit;
    }
    .ivu-breadcrumb>span {
        font-weight: 100;
        font-size: 1rem;
    }
    .ivu-breadcrumb>span:last-child {
        font-weight: 100;
        color: $main-title-sub-color;
        cursor: default;
    }
}
.article-a-footer {
    margin-top: 3rem;
    padding-bottom: 30px;
    &::after {
        //content: '';
        width: 70%;
        height: 1px;
        background-color: #ddd;
        display: block;
        margin: 0 auto;
    }
    & > div{
        padding:15px 0px;
    }
}
.article-a-footer__author {
    //border-top: 1px solid $border-color;
    text-align: center;
    color: #9FA3A7;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.article-a-header {
    text-align: center;
    margin-top: 4rem;
}
.article-a-header__category {
    background-color: $logo-color;
    z-index: 1;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 6px 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    cursor: default;
}
.article-a-header__info {
    margin: 1.5rem 0 ;
    color: $main-title-sub-color;
    .item {
        display: inline-block;
    }
    .item:not(:last-child):after {
        content: '•';
        display: inline-block;
        margin: 0 .5rem;
    }
}
.article__container {
    padding: 2rem 5rem 5rem;
    background-color: #fff;
    border-radius: $border-radius;
    margin-bottom: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

//.article-a-footer__thumbs {
//
//}
.thumbs__btn {
    float: right;
    font-weight: 100;
    padding: 10px 23px;
    //background-color: $logo-color;
    //color: white;
}

/*
         * @see https://www.jiangfei.net/jianzhan/1098.html
         这里我去掉了颜色设置 ，为了兼容多种皮肤
        */
.hljs-lines {
    position: relative;
    border: 0;
    display: block !important;
    padding: 1px;
    margin: 0;
    width: 100%;
    font-weight: 200;
    /*color: #333;*/
    white-space: pre-wrap
}

.hljs-lines ul {
    list-style: decimal;
    /*background-color: #fff;*/
    margin: 0 0 0 40px !important;
    padding: 0;
}

.hljs-lines ul li {
    list-style: decimal-leading-zero;
    border-left: 1px solid #101010 !important;
    padding: 5px !important;
    margin: 0 !important;
    line-height: 14px;
    word-break: break-all;
    word-wrap: break-word;
}

.hljs-lines ul li:nth-of-type(even) {
    /*background-color: #fcfcfc;*/
    /*color: inherit;*/
}
.hljs-lines ul li:last-child:empty {
    display: none;
}
.code-copy {
    position: absolute;
    right: 0;
    display: inline-block;
    cursor: pointer;
}
.j-image-photo-swipe {
    display: block;
    margin: 0 auto;
}
