<!DOCTYPE html>
<html class="zh-CN">

<head>
    <%=head('archives')%>
    <%-statistical%>
</head>

<body>
    <div id="preloader">
        <div id="preloader-inner" class="battery"></div>
    </div>
    <div id="app">
        <blob-header :active='"archives"'></blob-header>
        <div class="blank"></div>
        <section class="wrapper">
            <div class="am-container article-page">
                123123
            </div>
        </section>
        <blob-footer ></blob-footer>
    </div>
    <%-footer('archives')%>
</body>

</html>
