<!DOCTYPE html>
<html class="zh-CN">

<head>
    <%-head('archives')%>
    <%-statistical%>
</head>

<body>
    <div id="preloader">
        <div id="preloader-inner" class="battery"></div>
    </div>
    <div id="app">
        <blob-header :active='"archives"'></blob-header>
        <div class="blank"></div>
        <div class="j-banner bounceInDown animated" style="background-image: url(http://oht47c0d0.bkt.clouddn.com/9ecac690-20b8-11e7-870f-6966afa7d568.png);">
            <div class="am-container">
                <h1>文章归档</h1>
                <p>记录自己。</p>
            </div>
        </div>
        <section class="wrapper am-container">
            <div class="am-container j-archives-times">
                <%for(item in groupList){%>
                <div class="j-archives-item">
                    <div class="j-start-date" title="<%=item%>" id="<%=item.replace(' ','')%>">
                        <%=item%>
                    </div>
                    <%for(let i=0,l=groupList[item].length;i<l;i++){%>
                    <div class="j-activity am-animation-slide-right" style="animation-delay: <%=i/10%>s;" >
                        <div class="j-timeline">
                            <span><%=dateFormat(groupList[item][i].post_date,'MMMM Do')%></span>
                        </div>
                        <!-- <div class="j-article-img">

                        </div> -->
                        <div class="j-content">
                            <a class="j-article-title am-text-lg" href="/p/<%=groupList[item][i].guid%>">
                                <%=groupList[item][i].post_title%>
                            </a>
                            <ul class="j-article-info list-inline">
                                <li class="j-article-author">
                                    <img alt="..." src="http://oht47c0d0.bkt.clouddn.com/17-1-11/75763093-file_1484140871299_166f3.png" class="am-circle am-img-thumbnail" width="20" height="20" >
                                    <a target="_blank"><%=groupList[item][i].author%></a>
                                </li>
                                <li class="j-article-author">
                                    <i class=" am-icon-list-ul"></i>   <span><%=groupList[item][i].term_id%></span>
                                </li>
                                <li class="j-time">
                                    <i class="am-icon-clock-o"></i>  <span><%=dateFormat(groupList[item][i].post_date,'L')%></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <%}%>
                </div>
                <%}%>
            </div>
        </section>
        <blob-footer ></blob-footer>
    </div>
    <%-footer('archives')%>
</body>

</html>
