<!DOCTYPE html>
<html class="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png"> -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="/static/preloader.css" rel="stylesheet">
    <link href="//cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="/static/vendor.css" rel="stylesheet" >
    <link href="/static/article.css" rel="stylesheet">
    <link href="/static/editormd/css/editormd.preview.css" rel="stylesheet" />
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
    <script src="/static/editormd/lib/marked.min.js"></script>
    <script src="/static/editormd/lib/prettify.min.js"></script>
    <script src="/static/editormd/editormd.min.js"></script>
    <!-- <script src="//cdn.bootcss.com/ifvisible/1.0.6/ifvisible.min.js"></script> -->
</head>

<body>
    <div id="preloader">
	    <div id="preloader-inner" class="battery"></div>
	</div>
    <div id="app">
        <blob-header @sabit="togglehead" :active='"index"'></blob-header>
        <div class="blank"></div>
        <section class="wrapper">
            <div class="am-container article-page">
                <%if(tocm){%>
                <aside class="article-tocm" ref="article-tocm" :class="{padTop:aside}">
                    <h1>Table of Contents</h1>
                    <section class=" markdown-body editormd-preview-container" id="custom-toc-container">
                    </section>
                </aside>
                <%}%>
                <article>
                    <h1><%=post_title%></h1>
                    <%if(postTag.length){%>
                    <div>
                        <%for(item of postTag){%>
                        <span class="am-badge am-badge-default am-margin-left-xs am-round"><%=item.name%></span>
                        <%}%>
                    </div>
                    <%}%>
                    <div class="post-info ">
                        <span class="category">作者</span>
                        <a class="name am-text am-text-default">
                            <%=author%>
                        </a>
                        <p class="meta am-margin-top-xs am-margin-bottom-0 am-link-muted am-text-xs" style>
                            <span class="publish-time"><%=post_date%></span>
                            <span class="wordage">字数 {{post_contentLength}}</span>
                            <span class="views-count">阅读 0</span>
                        </p>
                    </div>
                    <div class="inner" ref="inner" id="article-inner">
                        <textarea style="display:none;" name="article-markdown-doc">
<%=post_content%>
                        </textarea>
                    </div>
                </article>

                <footer id="post-footer" class="am-cf">
                    <div class="sm">
                        本文系作者
                        <a target="_blank" title="<%=author%>" class="am-text-secondary">
                            <%=author%>
                        </a> 转载请注明出处、作者和<a href="/p/<%=guid%>" title="<%=post_title%>" class="am-text-secondary">本文链接</a>。
                    </div>
                    <!-- 文章分类 相关推荐 -->
                    <!-- <div class="post-like am-fr am-margin-left-xs">
                        <a class="am-btn am-round am-btn-xs am-btn-logo"><i class="am-icon-heart"></i> 喜欢 | 0</a>
                    </div> -->
                    <div class="post-share am-fr">
                        <ul class="sharehidden">
                            <li>
                                <a href="http://www.jiathis.com/send/?webid=weixin&amp;url=http://www.mbdoge.cn/p/<%=guid%>&amp;title=<%=post_title%>" onclick="window.open(this.href, 'renren-share', 'width=490,height=700');return false;" class="s-weixin"><img src="http://dailinhua.com/wp-content/themes/Siren-master/images/sns/wechat.png"></a>
                            </li>
                            <li>
                                <a href="http://www.jiathis.com/send/?webid=qzone&amp;url=http://www.mbdoge.cn/p/<%=guid%>&amp;title=<%=post_title%>" onclick="window.open(this.href, 'weibo-share', 'width=730,height=500');return false;" class="s-qq"><img src="http://dailinhua.com/wp-content/themes/Siren-master/images/sns/qzone.png"></a>
                            </li>
                            <li>
                                <a href="http://www.jiathis.com/send/?webid=tsina&amp;url=http://www.mbdoge.cn/p/<%=guid%>&amp;title=<%=post_title%>" onclick="window.open(this.href, 'weibo-share', 'width=550,height=235');return false;" class="s-sina"><img src="http://dailinhua.com/wp-content/themes/Siren-master/images/sns/sina.png"></a>
                            </li>
                            <li>
                                <a href="http://www.jiathis.com/send/?webid=douban&amp;url=http://www.mbdoge.cn/p/<%=guid%>&amp;title=<%=post_title%>" onclick="window.open(this.href, 'renren-share', 'width=490,height=600');return false;" class="s-douban"><img src="http://dailinhua.com/wp-content/themes/Siren-master/images/sns/douban.png"></a>
                            </li>
                        </ul>
                        <a class="am-btn am-round am-btn-xs am-btn-secondary"><i class="am-icon-share"></i> 分享</a>
                    </div>
                </footer>
                <div class="ds-thread" data-thread-key="<%=guid%>" data-title="<%=post_title%>" data-url="www.mbdoge.cn/p/<%=guid%>"></div>
                <script type="text/javascript">
                    var duoshuoQuery = { short_name: "\x6a\x6a\x6a\x6a\x79\x78"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] ||
                            document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <aside id="comment">
                </aside>
            </div>
        </section>
        <blob-footer ></blob-footer>
    </div>
    <script src="//cdn.bootcss.com/vue/2.2.1/vue.min.js"></script>
    <script type="text/javascript" src="/static/vendor.js"></script>
    <script type="text/javascript" src="/static/article.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        var imgs = new Array();
        imgs[0] = 'http://oht47c0d0.bkt.clouddn.com/d7d26cc0-00b2-11e7-89fa-17d9cf406414.png';
        imgs[1] = 'http://oht47c0d0.bkt.clouddn.com/eb0065e0-00b2-11e7-89fa-17d9cf406414.png';
        imgs[2] = 'http://oht47c0d0.bkt.clouddn.com/041a06d0-00b3-11e7-89fa-17d9cf406414.png';
        imgs[3] = 'http://oht47c0d0.bkt.clouddn.com/0fe807a0-00b3-11e7-89fa-17d9cf406414.png';
        imgs[4] = 'http://oht47c0d0.bkt.clouddn.com/1e498490-00b3-11e7-89fa-17d9cf406414.png';
        imgs[5] = 'http://oht47c0d0.bkt.clouddn.com/28e60a40-00b3-11e7-89fa-17d9cf406414.png';
        let wait = ()=>{
            if($('.ds-avatar img[src*="duoshuo"]').length){
                $('.ds-avatar img[src*="duoshuo"]').each(function(){
                    var rand = Math.floor(Math.random()*imgs.length);
                    $(this).attr("src",imgs[rand]);
                })
            }else{
                setTimeout(wait,200);
            }
        }
        wait();
    });
    </script>
</body>

</html>
