<!DOCTYPE html>
<html class="zh-CN">

<head>
    <%-head('author')%>
    <link href="//cdn.bootcss.com/onepage-scroll/1.3.1/onepage-scroll.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/onepage-scroll/1.3.1/jquery.onepage-scroll.min.js"></script>
    <%-statistical%>
</head>
<body>
    <div id="preloader">
        <div id="preloader-inner" class="battery"></div>
    </div>
    <div id="app">
        <!-- <blob-header :active='"author"'></blob-header>
        <div class="blank"></div> -->
        <header class="am-topbar am-topbar-fixed-top bootsnav brand-center">
            <div class="am-container">
                <!-- 通过设置  pointer-events: all;  将icon 可以点击 -->
                <div class="am-navbar-header">
                    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success " @click="navBg" data-am-collapse="{target: '#doc-topbar-collapse'}">
                        <span class="am-sr-only">导航切换</span>
                        <span class="am-icon-bars"></span>
                    </button>
                    <a href="/" class="am-topbar-brand nono-user-select" title="回到首页">
                      <!-- <a href="#" class="am-text-ir">Amaze UI</a> -->
                      <img src="http://oht47c0d0.bkt.clouddn.com/797d3a20-0016-11e7-8ec4-c526ba0271a0.png" class="logo nono-user-select" alt="">
                    </a>
                </div>

                <div class="am-collapse am-topbar-collapse am-animation-slide-top" id="doc-topbar-collapse">
                    <ul class="am-nav am-nav-pills am-topbar-nav col-half left">
                        <li><a href="#1">关于网站</a></li>
                        <li><a href="#2">网站出装表</a></li>
                        <li><a href="#3">更新记录</a></li>
                    </ul>
                    <ul class="am-nav am-nav-pills am-topbar-nav col-half right">
                        <li><a href="#4">关于我</a></li>
                        <li><a href="#5">我的技能表</a></li>
                        <li><a href="#6">联系方式</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <f-wei-model></f-wei-model>
        <main>
            <!-- 网站介绍 -->
            <div class="j-page" style="background-color:rgb(75, 191, 195)">
                <div class="j-fullpage j-fullpage1 j-fullpage-fill">
                    <div class="j-fp-con j-fp-vertical-c">
                        <div class="j-fp1-img">
                            <!-- <img src="http://oht47c0d0.bkt.clouddn.com/12f4cd10-3174-11e7-a772-3734af15197f" alt=""> -->
                        </div>
                        <div class="j-fp1-txt site-info">
                            <h1>jjjjyx</h1>
                            <hr>
                            <p><%=title%></p>
                            <p>
                                没错，←左边认真<del title="">装逼</del>，啊呸！<abbr title="">认真</abbr>写代码的就是我
                                <br>
                                总之欢迎您的访问本小站。本站是我写的第二个博客，也是我的毕业设计。<br>
                                为什么是第二个，在我大二的时候参加网页设计时使用java 写了一个简单的博客。可以说登不上台面。<br>
                                但是现在经过这几年的学习进步，我已经触摸到力量的边缘，能够有驾驭一个网站的开发。<br>
                                于是在毕业设计中制作了这个博客。
                                为什么起名叫jjjjyx 呢，并不是我的姓名中有jyx 而是我的网名，这个网名是追我媳妇儿时想的情侣网名~一直用到现在~~
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 网站技能表 -->
            <div class="j-page" style="background-color:rgb(255, 127, 80)">
                <div class="j-fullpage j-fullpage2 j-fullpage-fill white">
                    <div class="j-fp-con">
                        <div class="j-fp-title">
                            <h1>
                                网站出装表
                            </h1>
                            <p>关于我的个人博客开发所使用到技术，描述的很详细哦</p>
                        </div>
                        <!-- 前端 -->
                        <blob-to-insert></blob-to-insert>
                    </div>
                </div>
            </div>
            <!-- 网站更新记录 -->
            <div class="j-page" style="background-color:rgb(27, 188, 155)">
                <div class="j-fullpage j-fullpage3 ">
                    <div class="j-fp-con j-fp-vertical-c">
                        <div class="j-fp-title">
                            <h1>
                                还没有想好怎么做呀
                            </h1>
                            <p>敬请期待</p>
                            <p>看下一栏</p>
                            <a href="javascript:;$('main').moveTo(4);" style="font-size:50px;"><i class="am-icon-angle-double-down"></i></a>
                            <!--  -->
                        </div>
                        <!-- 前端 -->
                    </div>
                </div>
            </div>
            <!-- 关于我 -->
            <div class="j-page" style="background-color:rgb(255, 153, 0)">
                <div class="j-fullpage j-fullpage4 j-fullpage-fill">
                    <div class="j-fp-con j-fp-vertical-c">
                        <div class="j-fp1-img"></div>
                        <div class="j-fp1-txt">
                            <h1>酱酱酱酱油鲜's blog</h1>
                            <hr class="j-fp-stripb">
                            <p>
                                我，码农一只，是一个前端的码农。从VB入门，Java 出道，转战Javascript。满打满算学习编程大概有2年多。<br>
                                在最初的刚入大学的时候，每天沉迷游戏，天天修仙 <del>那时候应该是能修到元婴期</del><br>
                                没什么特别的爱好，不爱运动，不喜游戏，不善交际，诶说的好伤心  (ಥ_ಥ) 太失败了。<br>
                                不过现在好了，喜欢上了编程，编写网页，搭建个人网站。编程能够给我带来创作感，在编程的过程能够充实自己。
                            </p>
                            <small class="am-fr">
                                —— 解决不了的问题，就要解决提出问题的人
                            </small>
                            <!-- <dl>
                                <dt>name</dt>
                                <dd>jjjjyx</dd>
                            </dl> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 技能表 -->
            <div class="j-page" style="background-color:rgb(49, 148, 164)">
                <div class="j-fullpage j-fullpage5 j-fullpage-fill ">
                    <div class="j-fp-con">
                        <div class="j-fp-title">
                            <h1>
                                我的技能表
                            </h1>
                            <p>装逼如风常伴吾身</p>
                            <blob-skill></blob-skill>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 联系方式 -->
            <div class="j-page" style="background-color:rgb(19, 35, 50)">
                <div class="j-fullpage j-fullpage6 ">
                    <div class="j-navbg"></div>
                    <div class="j-fp-con ">
                        <div class="am-container">
                            <div class="am-u-sm-6">
                                <!-- data-animated-delay="" -->
                                <h2 class="animated " data-animated="bounceInDown" >
                                    联系方式
                                </h2>
                                <hr class="j-fp-stripb animated " data-animated="bounceInDown">
                                <!--
                                qq
                                微信
                                微博 - 不常用
                                邮箱
                            -->
                                <p class="animated " data-animated="bounceInDown">
                                    QQ : 871839012 <br>
                                    微信 : jjjjyx_ (jjjjyx被占用好气哦)<br>
                                    微博 : 叫我寄生虫 (不常用)<br>
                                    邮箱 : jyx@rpgame.net<br>
                                </p>
                                <!-- 这里好空 感觉可以放点什么 -->
                                <!-- 放上最喜欢的康纳酱 -->
                                <img src="http://oht47c0d0.bkt.clouddn.com/52716200-331d-11e7-a76b-6f60d66d8e36" alt="康纳" class="am-img-thumbnail nono-user-select animated " width="170" data-animated="flipInX">
                            </div>
                            <!-- 跳转到bug 吐槽 -->
                            <div class="am-u-sm-6">
                                <h2 class="animated"  data-animated="bounceInRight">
                                    给我留言
                                </h2>
                                <hr class="j-fp-stripb animated" data-animated="bounceInRight">
                                <!-- 暂时没有 -->
                                <form action="" @submit.prevent class="am-form animated" data-animated="bounceInRight">
                                    <div class="am-form-group" style="width:30%;">
                                      <input type="text" class="am-form-field" id="doc-ipt-name-1" placeholder="name">
                                    </div>
                                    <div class="am-form-group" style="width:50%;">
                                      <input type="email" class="am-form-field" id="doc-ipt-email-1" placeholder="email*">
                                    </div>
                                    <div class="am-form-group" style="width:70%;">
                                      <textarea class="am-form-field" rows="3" id="doc-ta-1" placeholder="message*"></textarea>
                                    </div>
                                    <button type="submit" class="am-btn am-btn-default">๑乛◡乛๑</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <f-copyright></f-copyright>
                </div>
            </div>
            </div>
        </main>
        <!-- <blob-footer ></blob-footer> -->
    </div>
    <%-footer('author')%>
</body>
</html>
