<!DOCTYPE html>
<html class="zh-CN">

<head>
    <%-head('author')%>
    <link href="//cdn.bootcss.com/onepage-scroll/1.3.1/onepage-scroll.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/onepage-scroll/1.3.1/jquery.onepage-scroll.min.js"></script>
    <%-statistical%>
</head>
<body>
    <div id="preloader">
        <div id="preloader-inner" class="battery"></div>
    </div>
    <div id="app">
        <!-- <blob-header :active='"author"'></blob-header>
        <div class="blank"></div> -->
        <header class="am-topbar am-topbar-fixed-top bootsnav brand-center">
            <div class="am-container">
                <!-- 通过设置  pointer-events: all;  将icon 可以点击 -->
                <div class="am-navbar-header">
                    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success " @click="navBg" data-am-collapse="{target: '#doc-topbar-collapse'}">
                        <span class="am-sr-only">导航切换</span>
                        <span class="am-icon-bars"></span>
                    </button>
                    <a href="/" class="am-topbar-brand" title="回到首页">
                      <!-- <a href="#" class="am-text-ir">Amaze UI</a> -->
                      <img src="http://oht47c0d0.bkt.clouddn.com/797d3a20-0016-11e7-8ec4-c526ba0271a0.png" class="logo" alt="">
                    </a>
                </div>

                <div class="am-collapse am-topbar-collapse am-animation-slide-top" id="doc-topbar-collapse">
                    <ul class="am-nav am-nav-pills am-topbar-nav col-half left">
                        <li><a href="#1">关于网站</a></li>
                        <li><a href="#2">网站出装表</a></li>
                        <li><a href="#3">更新记录</a></li>
                    </ul>
                    <ul class="am-nav am-nav-pills am-topbar-nav col-half right">
                        <li><a href="#4">关于我</a></li>
                        <li><a href="#5">我的技能表</a></li>
                        <li><a href="#6">联系方式</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <!-- 网站介绍 -->
            <div class="j-page" style="background-color:rgb(75, 191, 195)">
                <div class="j-fullpage j-fullpage1 j-fullpage-fill">
                    <div class="j-fp-con">
                        <div class="j-fp1-img">
                            <!-- <img src="http://oht47c0d0.bkt.clouddn.com/12f4cd10-3174-11e7-a772-3734af15197f" alt=""> -->
                        </div>
                        <div class="j-fp1-txt site-info">
                            <h1>jjjjyx</h1>
                            <hr>
                            <p><%=title%></p>
                            <p>
                                没错，←左边认真<del title="">装逼</del>，啊呸！<abbr title="">认真</abbr>写代码的就是我
                                <br>
                                总之欢迎您的访问本小站。本站是我写的第二个博客，也是我的毕业设计。<br>
                                为什么是第二个，在我大二的时候参加网页设计时使用java 写了一个简单的博客。可以说登不上台面。<br>
                                但是现在经过这几年的学习进步，我已经触摸到力量的边缘，能够有驾驭一个网站的开发。<br>
                                于是在毕业设计中制作了这个博客。
                                为什么起名叫jjjjyx 呢，并不是我的姓名中有jyx 而是我的网名，这个网名是追我媳妇儿时想的情侣网名~一直用到现在~~
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 网站技能表 -->
            <div class="j-page" style="background-color:rgb(255, 127, 80)">
                <div class="j-fullpage j-fullpage2 j-fullpage-fill">
                    <div class="j-fp-con">
                        <div class="j-fp-title">
                            <h1>
                                网站出装表
                            </h1>
                            <p>关于我的个人博客开发所使用到技术，描述的很详细哦</p>
                        </div>
                        <!-- 前端 -->
                        <div class="j-fp-content">
                            <div class="j-fp-content-block"  @mouseover="mouseover(item)" v-for="item in toInsert" :class="{active:active==item}">
                                <component v-bind:is="item" ></component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 关于网站 -->
            <div class="j-page" style="background-color:rgb(27, 188, 155)">
                2
                <!-- <h1>酱酱酱酱油鲜</h1>
                <p>手持两把锟斤拷，口中疾呼烫烫烫。<br>
脚踏千朵屯屯屯，笑看万物锘锘锘。</p>
<img src="" alt=""> -->
            </div>
            <!-- 关于我 -->
            <div class="j-page" style="background-color:rgb(255, 153, 0)">
                <div class="j-fullpage j-fullpage4 j-fullpage-fill">
                    <div class="j-fp-con">
                        <div class="j-fp1-img"></div>
                        <div class="j-fp1-txt"></div>
                    </div>
                </div>
            </div>
            <!-- 技能表 -->
            <div class="j-page" style="background-color:rgb(49, 148, 164)">6</div>
            <!-- 联系方式 -->
            <div class="j-page" style="background-color:rgb(19, 35, 50)">5</div>
        </main>
        <!-- <blob-footer ></blob-footer> -->
    </div>
    <%-footer('author')%>
</body>
</html>
