<!DOCTYPE html>
<html class="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png"> -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="/static/preloader.css" rel="stylesheet">
    <link href="//cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="/static/vendor.css" rel="stylesheet" >
    <link href="/static/category.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?79dd4235aa90d5cc65a200f9e654f049";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
    <div id="preloader">
        <div id="preloader-inner" class="battery"></div>
    </div>
    <div id="app">
        <blob-header :active='"category"'></blob-header>
        <div class="blank"></div>
        <div class="j-banner">
            <div class="am-container">
                <h1>全部分类</h1>
                <p>好好挑，好好选，这里的分类很多 </p>
            </div>
            <div class="am-container">

            </div>
        </div>
        <section class="wrapper am-container">
            <div class="am-g">
                <%for(item of termList){%>
                    <div class="am-u-md-4">
                        <div class="collection-wrap">
                            <a class="tag-icon">
                                <i class="<%=item.icon%>"></i>
                            </a>
                            <h4><a target="_blank" href="/c/dqfRwQ"><%=item.name%></a></h4>
                            <p class="">
                                <%=item.description.substring(0,60)%><%=item.description>60?'...':''%>

                            </p>
                            <button type="button" name="button" class="am-btn am-btn-success am-round">进入分类</button>
                            <hr>
                            <div class="count"><%=item.count%>篇文章</div>
                        </div>
                    </div>
                <%}%>
            </div>
        </section>
        <blob-footer ></blob-footer>
    </div>
    <script src="//cdn.bootcss.com/vue/2.2.1/vue.min.js"></script>
    <script type="text/javascript" src="/static/vendor.js"></script>
    <script type="text/javascript" src="/static/category.js"></script>
</body>

</html>
