<!DOCTYPE html>
<html class="zh-CN">

<head>
    <%-head('category')%>
    <%-statistical%>
</head>

<body>
    <div id="preloader">
        <div id="preloader-inner" class="battery"></div>
    </div>
    <div id="app">
        <blob-header :active='"category"'></blob-header>
        <div class="blank"></div>
        <div class="j-banner">
            <div class="am-container">
                <h1>全部分类</h1>
                <p>好好挑，好好选，这里的分类很多 </p>
            </div>
            <div class="am-container">

            </div>
        </div>
        <section class="wrapper am-container">
            <div class="am-g">
                <%for(item of termList){%>
                    <div class="am-u-md-4">
                        <div class="collection-wrap">
                            <a class="tag-icon">
                                <i class="<%=item.icon%>"></i>
                            </a>
                            <h4><a href="/category/<%=item.slug%>"><%=item.name%></a></h4>
                            <p class="">
                                <%=item.description.substring(0,60)%><%=item.description>60?'...':''%>
                            </p>
                            <a type="button" name="button" class="am-btn am-btn-success am-round" href="/category/<%=item.slug%>">进入分类</a>
                            <hr>
                            <div class="count"><%=item.count%>篇文章</div>
                        </div>
                    </div>
                <%}%>
            </div>
        </section>
        <blob-footer ></blob-footer>
    </div>
    <%-footer('category')%>
</body>

</html>
