<!DOCTYPE html>
<html class="zh-CN">

<head>
    <%-head('index')%>
    <script src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
    <%-statistical%>
</head>

<body>
    <div id="preloader">
	    <div id="preloader-inner" class="battery"></div>
	</div>
    <div id="app">
        <blob-header :active='"index"'></blob-header>
        <!-- #masthead -->
        <div class="blank"></div>

        <div class="headertop bounceInDown animated">
            <div class="centerbg j-vertical-center" style="background-image:url(<%=site.background%>)">
                <a class="avatar am-animation-scale-up " href="javascript:;"  style="animation-delay: .51s;">
                    <img src="<%=site.avatar%>" >
                </a>
                <p class="avatar-p am-animation-slide-bottom " style="animation-delay: .51s;">
                    <%-site.sign%>
                </p>
            </div>
            <div class="slant-left"></div>
            <div class="slant-right"></div>
        </div>
        <div class="index-content am-cf am-container">
            <div class="am-g">
                <div class="am-u-md-8 articles am-tabs" data-am-tabs>
                    <!-- <div class="j-title">
                        <h3 class="active">最新文章</h3>
                        <span class="gapline">|</span>
                    </div> -->
                    <ul class="am-tabs-nav am-nav am-nav-tabs" ref="tabs">
                        <li class="am-active"><a href="javascript: void(0)" @click="open()">最新文章</a></li>
                        <li><a href="javascript: void(0)" @click="open('9P1TEN')" data-slug="9P1TEN">上课大纲</a></li>
                        <li><a href="javascript: void(0)" @click="open('MG1Wx9')" data-slug="MG1Wx9">毕业论文</a></li>
                    </ul>
                    <main class="j-article-list am-tabs-bd am-tabs-bd-ofv" >
                        <div class="am-tab-panel  am-active" ref="articleList">
                            <%-datali%>
                        </div>
                        <div class="am-tab-panel " ref="9P1TEN">

                        </div>
                        <div class="am-tab-panel " ref="MG1Wx9">

                        </div>
                    </main>
                    <div class="j-article-placeholder index">
                        <div class="img"></div>
                        <div class="content">
                            <div class="author">
                                <div class="avatar"></div>
                                <div class="name"></div>
                            </div>
                            <div class="title"></div>
                            <div class="text"></div>
                            <div class="text animation-delay"></div>
                            <div class="text short-text"></div>
                            <div class="meta">
                                <i class="am-icon-eye ic-list-read"></i>
                                <div class="read"></div>
                                <i class="am-icon-comment ic-list-comments"></i>
                                <div class="small"></div>
                                <i class="am-icon-heart ic-list-like"></i>
                                <div class="small"></div>
                            </div>
                        </div>
                    </div>
                    <p class="load-more">
                        <button class="am-btn am-round gray btn-bordered am-btn-sm" @click="loadMore" v-if="noPost" >
                            <i class="am-icon-spinner am-icon-spin am-text-xs" v-if="loading"></i> {{loading?'loading...':'加载更多'}}

                        </button>
                        <span v-else>没有更多了</span>
                    </p>
                </div>
                <div class="am-u-md-4 sidebar">
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">标签</h3>
                            <a href="/category" class="r btn btn-sm " style="color:#B3B3B3">
                                全部 &nbsp;&nbsp;<i class="am-icon-angle-right"></i>
                            </a>
                        </div>
                        <div class="tags">
                            <input type="text" ref="h" v-if="enabled" autocomplete="off" v-model="keyword" style="opacity: 0;position: absolute;top: 33px;background: transparent;outline: transparent;border: transparent;color: transparent;">
                            <%for(item of termList){%>
                                <%if(item.name=='java'){%>
                                <a class="tag active" data-tag='<%=item.name%>' @mouseover="mouseover" @mouseout="mouseout" target="_blank" href="/category/<%=item.slug%>">
                                    <span class="tags-icon">
                                        <i class="<%=item.icon%>"></i>
                                    </span>
                                    <span><%=item.name%></span></a>
                                <%}else{%>
                                <a class="tag" data-tag='<%=item.name%>' target="_blank" href="/category/<%=item.slug%>">
                                    <span class="tags-icon">
                                        <i class="<%=item.icon%>"></i>
                                    </span>
                                    <span><%=item.name%></span>
                                </a>
                                <%}%>
                            <%}%>
                        </div>
                    </div>
                    <div class="part">
                        <div class="j-title">
                            <h3>
                                <span class="num">72</span>小时热文榜
                            </h3>
                            <a href="javascript:;" class="r btn btn-sm red">
                                TOP 50   &nbsp;&nbsp;<i class="am-icon-angle-right"></i>
                            </a>
                            <!-- <span class="gapline">|</span> -->
                        </div>
                        <ul class="ds-top-threads j-list" data-range="monthly" data-num-items="10"></ul>
                        <script type="text/javascript">
                            var duoshuoQuery = {
                                short_name: "\x6a\x6a\x6a\x6a\x79\x78"
                            };
                            (function() {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript';
                                ds.async = true;
                                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0] ||
                                    document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                        </script>
                    </div>
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">近期评论</h3>
                            <!-- <span class="gapline">|</span> -->
                        </div>
                        <ul class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-admin="1" data-excerpt-length="70"></ul>
                    </div>
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">文章归档</h3>
                            <!-- <span class="gapline">|</span> -->
                        </div>
                        <ul class="j-list">
                            <%for(item of groupList){%>
                                <li>
                                    <a href="/archives#<%=dateFormat(item.post_date,'MMMYY')%>"><i class="am-icon-calendar-plus-o"></i> <%=item.post_date2%></a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">友情链接</h3>
                            <a  class="r btn btn-sm " style="color:#B3B3B3">
                                想要交换友链请联系我哦
                            </a>
                        </div>
                        <ul class="j-links j-list">
                            <li><a target="_blank" href="http://blog.tor1024.com/" title="致怀's Blog | 大好时光！">致怀's Blog | 大好时光！</a></li>
                        </ul>
                    </div>
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">功能</h3>
                            <!-- <span class="gapline">|</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <blob-footer ></blob-footer>
    </div>
    <%-footer('index')%>
    <script type="text/javascript">
    $(document).ready(function(){

        var imgs = new Array();
        imgs[0] = 'http://oht47c0d0.bkt.clouddn.com/d7d26cc0-00b2-11e7-89fa-17d9cf406414.png';
        imgs[1] = 'http://oht47c0d0.bkt.clouddn.com/eb0065e0-00b2-11e7-89fa-17d9cf406414.png';
        imgs[2] = 'http://oht47c0d0.bkt.clouddn.com/041a06d0-00b3-11e7-89fa-17d9cf406414.png';
        imgs[3] = 'http://oht47c0d0.bkt.clouddn.com/0fe807a0-00b3-11e7-89fa-17d9cf406414.png';
        imgs[4] = 'http://oht47c0d0.bkt.clouddn.com/1e498490-00b3-11e7-89fa-17d9cf406414.png';
        imgs[5] = 'http://oht47c0d0.bkt.clouddn.com/28e60a40-00b3-11e7-89fa-17d9cf406414.png';
        let wait = ()=>{
            if($('.ds-avatar img[src*="duoshuo"]').length){
                $('.ds-avatar img[src*="duoshuo"]').each(function(){
                    var rand = Math.floor(Math.random()*imgs.length);
                    $(this).attr("src",imgs[rand]);
                })
            }else{
                setTimeout(wait,200);
            }
        }
        wait();
    });
    </script>
</body>
</html>
