<!DOCTYPE html>
<html class="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%=site.description%>">
    <meta name="keywords" content="<%=site.keyword%>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="AM5Ni9Q2FO" />
    <title><%=site.title%></title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png"> -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/preloader.css" rel="stylesheet">
    <link href="//cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="/static/vendor.css" rel="stylesheet" >
    <link href="/static/index.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?79dd4235aa90d5cc65a200f9e654f049";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
    <div id="preloader">
	    <div id="preloader-inner" class="battery"></div>
	</div>
    <div id="app">
        <blob-header :active='"index"'></blob-header>
        <!-- #masthead -->
        <div class="blank"></div>

        <div class="headertop">
            <div class="centerbg" style="background-image:url(<%=site.background%>)"></div>
            <div class="slant-left"></div>
            <div class="slant-right"></div>
            <div class="focusinfo">
                <a class="avatar am-animation-scale-up" href="javascript:;">
                    <img src="<%=site.avatar%>" >
                </a>
                <p class="avatar-p am-animation-slide-bottom">
                    <%-site.sign%>
                </p>
            </div>
        </div>
        <div class="index-content clearfix">
            <div class="am-g">
                <div class="am-u-md-9 articles">
                    <div class="j-title">
                        <h3 class="active">最新文章</h3>
                        <!-- <span class="gapline">|</span> -->
                    </div>
                    <div class="recommend-post">
                        <main class="j-article-list" ref="articleList">
                            <%-datali%>
                        </main>
                        <div class="j-article-placeholder index" v-if="loading">
                            <div class="img"></div>
                            <div class="content">
                                <div class="author">
                                    <div class="avatar"></div>
                                    <div class="name"></div>
                                </div>
                                <div class="title"></div>
                                <div class="text"></div>
                                <div class="text animation-delay"></div>
                                <div class="text short-text"></div>
                                <div class="meta">
                                    <i class="am-icon-eye ic-list-read"></i>
                                    <div class="read"></div>
                                    <i class="am-icon-comment ic-list-comments"></i>
                                    <div class="small"></div>
                                    <i class="am-icon-heart ic-list-like"></i>
                                    <div class="small"></div>
                                </div>
                            </div>
                        </div>
                        <p class="load-more">
                            <button class="am-btn am-round gray btn-bordered am-btn-sm" @click="loadMore" v-if="noPost">加载更多</button>
                            <span v-else>没有更多了</span>
                        </p>
                    </div>
                </div>
                <div class="am-u-md-3 sidebar">
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">标签</h3>
                            <a href="/category" class="r btn btn-sm " style="color:#B3B3B3">
                                全部 &nbsp;&nbsp;<i class="am-icon-angle-right"></i>
                            </a>
                        </div>
                        <div class="tags">
                            <input type="text" ref="h" v-if="enabled" autocomplete="off" v-model="keyword" style="opacity: 0;position: absolute;top: 33px;background: transparent;outline: transparent;border: transparent;color: transparent;">
                            <%for(item of termList){%>
                                <%if(item.name=='java'){%>
                                <a class="tag active" data-tag='<%=item.name%>' @mouseover="mouseover" @mouseout="mouseout">
                                    <span class="tag-icon">
                                        <i class="<%=item.icon%>"></i>
                                    </span>
                                    <span><%=item.name%></span></a>
                                <%}else{%>
                                <a class="tag" data-tag='<%=item.name%>'>
                                    <span class="tag-icon">
                                        <i class="<%=item.icon%>"></i>
                                    </span>
                                    <span><%=item.name%></span>
                                </a>
                                <%}%>
                            <%}%>
                        </div>
                    </div>
                    <div class="part">
                        <div class="j-title">
                            <h3>
                                <span class="num">72</span>小时热文榜
                            </h3>
                            <a href="javascript:;" class="r btn btn-sm red">
                                TOP 50   &nbsp;&nbsp;<i class="am-icon-angle-right"></i>
                            </a>
                            <!-- <span class="gapline">|</span> -->
                        </div>
                        <ul class="ds-top-threads j-list" data-range="monthly" data-num-items="10"></ul>
                        <script type="text/javascript">
                            var duoshuoQuery = {
                                short_name: "\x6a\x6a\x6a\x6a\x79\x78"
                            };
                            (function() {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript';
                                ds.async = true;
                                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0] ||
                                    document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                        </script>
                    </div>
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">近期评论</h3>
                            <!-- <span class="gapline">|</span> -->
                        </div>
                        <ul class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-admin="1" data-excerpt-length="70"></ul>
                    </div>
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">文章归档</h3>
                            <!-- <span class="gapline">|</span> -->
                        </div>
                        <ul class="j-list">
                            <%for(item of groupList){%>
                                <li>
                                    <a><i class="am-icon-calendar-plus-o"></i> <%=item.post_date%></a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                    <!-- <div class="part">
                        <div class="j-title">
                            <h3 class="">分类目录</h3>
                        </div>
                    </div> -->
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">功能</h3>
                            <!-- <span class="gapline">|</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <blob-footer ></blob-footer>
    </div>
     <script src="//cdn.bootcss.com/vue/2.2.1/vue.min.js"></script>
     <script type="text/javascript" src="/static/vendor.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){

        var imgs = new Array();
        imgs[0] = 'http://oht47c0d0.bkt.clouddn.com/d7d26cc0-00b2-11e7-89fa-17d9cf406414.png';
        imgs[1] = 'http://oht47c0d0.bkt.clouddn.com/eb0065e0-00b2-11e7-89fa-17d9cf406414.png';
        imgs[2] = 'http://oht47c0d0.bkt.clouddn.com/041a06d0-00b3-11e7-89fa-17d9cf406414.png';
        imgs[3] = 'http://oht47c0d0.bkt.clouddn.com/0fe807a0-00b3-11e7-89fa-17d9cf406414.png';
        imgs[4] = 'http://oht47c0d0.bkt.clouddn.com/1e498490-00b3-11e7-89fa-17d9cf406414.png';
        imgs[5] = 'http://oht47c0d0.bkt.clouddn.com/28e60a40-00b3-11e7-89fa-17d9cf406414.png';
        let wait = ()=>{
            if($('.ds-avatar img[src*="duoshuo"]').length){
                $('.ds-avatar img[src*="duoshuo"]').each(function(){
                    var rand = Math.floor(Math.random()*imgs.length);
                    $(this).attr("src",imgs[rand]);
                })
            }else{
                setTimeout(wait,200);
            }
        }
        wait();
    });
    </script>
</body>
</html>
