<!DOCTYPE html>
<html class="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="AM5Ni9Q2FO" />
    <meta name="google-site-verification" content="yLtrMMNRDOv_51TRVxZymlX_By6Nr91RAEBC4-PfT3s" />
    <title></title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png"> -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="/static/preloader.css" rel="stylesheet">
    <link href="//cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="/static/vendor.css" rel="stylesheet" >
    <link href="/static/category.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>

<body>
    <div id="preloader">
        <div id="preloader-inner" class="battery"></div>
    </div>
    <div id="app">
        <blob-header :active='"category"'></blob-header>
        <div class="blank"></div>
        <div class="j-banner">
            <div class="am-container">
                <div class="am-fr category-icon tag-icon">
                    <i class="<%=termInfo.icon%>"></i>
                </div>
                <h1><%=termInfo.name%></h1>
                <p><%=termInfo.description%></p>

            </div>
        </div>
        <div class="index-content am-cf am-container">
            <div class="am-g">
                <div class="am-u-md-9 articles">

                    <div class="recommend-post">
                        <main class="j-article-list" ref="articleList">
                             <%-datali%>
                        </main>
                        <div class="j-article-placeholder index" v-if="loading">
                            <div class="img"></div>
                            <div class="content">
                                <div class="author">
                                    <div class="avatar"></div>
                                    <div class="name"></div>
                                </div>
                                <div class="title"></div>
                                <div class="text"></div>
                                <div class="text animation-delay"></div>
                                <div class="text short-text"></div>
                                <div class="meta">
                                    <i class="am-icon-eye ic-list-read"></i>
                                    <div class="read"></div>
                                    <i class="am-icon-comment ic-list-comments"></i>
                                    <div class="small"></div>
                                    <i class="am-icon-heart ic-list-like"></i>
                                    <div class="small"></div>
                                </div>
                            </div>
                        </div>
                        <p class="load-more">
                            <button class="am-btn am-round gray btn-bordered am-btn-sm" v-if="noPost">加载更多</button>
                            <span v-else>没有更多了</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <blob-footer ></blob-footer>
    </div>
    <script src="//cdn.bootcss.com/vue/2.2.1/vue.min.js"></script>
    <script type="text/javascript" src="/static/vendor.js"></script>
    <script type="text/javascript" src="/static/category.js"></script>
</body>

</html>
