<!DOCTYPE html>
<html class="zh-CN">

<head>
    <%-head('category')%>
    <%-statistical()%>
</head>

<body>
    <div id="preloader">
        <div id="preloader-inner" class="battery"></div>
    </div>
    <div id="app">
        <blob-header :active='"category"'></blob-header>
        <div class="blank"></div>
        <div class="j-banner">
            <div class="am-container">
                <div class="am-fr category-icon tag-icon">
                    <i class="<%=termInfo.icon%>"></i>
                </div>
                <h1><%=termInfo.name%></h1>
                <p><%=termInfo.description%></p>

            </div>
        </div>
        <div class="index-content am-cf am-container">
            <div class="am-g">
                <div class="am-u-md-9 articles">

                    <div class="recommend-post">
                        <main class="j-article-list" ref="articleList">
                             <%-datali%>
                        </main>
                        <div class="j-article-placeholder index" v-if="loading">
                            <div class="img"></div>
                            <div class="content">
                                <div class="author">
                                    <div class="avatar"></div>
                                    <div class="name"></div>
                                </div>
                                <div class="title"></div>
                                <div class="text"></div>
                                <div class="text animation-delay"></div>
                                <div class="text short-text"></div>
                                <div class="meta">
                                    <i class="am-icon-eye ic-list-read"></i>
                                    <div class="read"></div>
                                    <i class="am-icon-comment ic-list-comments"></i>
                                    <div class="small"></div>
                                    <i class="am-icon-heart ic-list-like"></i>
                                    <div class="small"></div>
                                </div>
                            </div>
                        </div>
                        <p class="load-more">
                            <button class="am-btn am-round gray btn-bordered am-btn-sm" v-if="noPost">加载更多</button>
                            <span v-else>没有更多了</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <blob-footer ></blob-footer>
    </div>
    <%-footer('category')%>
</body>

</html>
