<!DOCTYPE html>
<html class="zh-CN">

<head>
    <%-head('category')%>
    <%-statistical%>
</head>

<body>
    <div id="preloader">
        <div id="preloader-inner" class="battery"></div>
    </div>
    <div id="app">
        <blob-header :active='"category"'></blob-header>
        <div class="blank"></div>
        <div class="j-banner">
            <div class="am-container">
                <div class="am-fr category-icon tag-icon">
                    <i class="<%=termInfo.icon%>"></i>
                </div>
                <h1><%=termInfo.name%></h1>
                <p><%=termInfo.description%></p>
            </div>
        </div>
        <div class="index-content am-cf am-container" style="margin-top: 50px;">
            <div class="am-g">
                <div class="am-u-md-8 articles">

                    <div class="recommend-post">
                        <main class="j-article-list" ref="articleList">
                             <%-datali||'该分类暂时没有一篇文章'%>
                        </main>
                        <%if(datali){%>
                        <div class="j-article-placeholder index" v-if="loading">
                            <div class="img"></div>
                            <div class="content">
                                <div class="author">
                                    <div class="avatar"></div>
                                    <div class="name"></div>
                                </div>
                                <div class="title"></div>
                                <div class="text"></div>
                                <div class="text animation-delay"></div>
                                <div class="text short-text"></div>
                                <div class="meta">
                                    <i class="am-icon-eye ic-list-read"></i>
                                    <div class="read"></div>
                                    <i class="am-icon-comment ic-list-comments"></i>
                                    <div class="small"></div>
                                    <i class="am-icon-heart ic-list-like"></i>
                                    <div class="small"></div>
                                </div>
                            </div>
                        </div>
                        <p class="load-more">
                            <%if(termInfo.count>10){%>
                            <button class="am-btn am-round gray btn-bordered am-btn-sm" v-if="noPost" @click="loadMore('<%=termInfo.slug%>')">加载更多</button>
                            <%}else{%>
                            <span v-else>没有更多了</span>
                            <%}%>
                        </p>
                        <%}%>
                    </div>
                </div>
                <div class="am-u-md-4 sidebar">
                    <%-part.blog()%>
                    <div class="part part-search">
                        <div class="j-title">
                            <h3>
                                <span class="num am-icon-search"></span>Search
                            </h3>
                        </div>
                        <form class="am-form">
                            <div class="am-form-group">
                                <input type="text" class="am-form-field am-radius" placeholder="Search ..." />
                            </div>
                            <div class="am-form-group">
                                <button type="button" class="am-btn j-blog am-btn-block am-radius">搜索一下</button>
                            </div>
                        </form>
                    </div>
                    <div class="part">
                        <div class="j-title">
                            <h3 class="">标签</h3>
                            <a href="/category" class="r btn btn-sm " style="color:#B3B3B3">
                                全部 &nbsp;&nbsp;<i class="am-icon-angle-right"></i>
                            </a>
                        </div>
                        <div class="tags">
                            <%for(item of termList){%>
                            <a class="tag" data-tag='<%=item.name%>' target="_blank" href="/category/<%=item.slug%>">
                                <span class="tags-icon">
                                    <i class="<%=item.icon%>"></i>
                                </span>
                                <span><%=item.name%></span>
                            </a>
                            <%}%>
                        </div>
                    </div>

                    <div class="part">
                        <div class="j-title">
                            <h3 class="">友情链接</h3>
                            <a  class="r btn btn-sm " style="color:#B3B3B3">
                                想要交换友链请联系我哦
                            </a>
                        </div>
                        <ul class="j-links j-list">
                            <li><a target="_blank" href="http://blog.tor1024.com/" title="致怀's Blog | 大好时光！">致怀's Blog | 大好时光！</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <blob-footer ></blob-footer>
    </div>
    <%-footer('category')%>
</body>

</html>
