<div class="j-sidebar j-block j-sidebar--about j-card__block">
    <div class="card__header">
        <img src="https://image.cdn.mbdoge.cn/17-1-11/75763093-file_1484140871299_166f3.png" alt="avatar">
    </div>
    <div class="card__content">
        <h6>前端 / 懂点架构的前端</h6>
        <h4>酱酱酱酱油鲜</h4>
        <div class="description">
            说点什么呢。。
            <!--目前从事前端工作，同时也-->
        </div>

        <ul class="social-ul list-inline mt-4">
            <li>
                <a class="social-ul__a" href="http://wpa.qq.com/msgrd?v=3&uin=871839012&site=qq&menu=yes" target="_blank">
                    <color-icon type="icon-color-QQ1" :size="22"></color-icon>
                </a>
            </li>
            <li>
                <a class="social-ul__a" href="https://github.com/jjjjyx" target="_blank">
                    <color-icon type="icon-color-GitHub" :size="22"></color-icon>
                </a>
            </li>
            <li>
                <a class="social-ul__a" href="http://weibo.com/5403878645" target="_blank">
                    <color-icon type="icon-color-weibo" :size="22"></color-icon>
                </a>
            </li>
            <li>
                <Poptip placement="bottom" trigger="hover">
                    <a class="social-ul__a" href="javascript:;">
                        <color-icon type="icon-color-weixin" :size="22"></color-icon>
                    </a>
                    <div slot="content">
                        <img src="https://image.cdn.mbdoge.cn/64807460-27ea-11e7-a8e7-a53b0973c884.png?imageView2/2/w/150/format/jpg" alt="">
                    </div>
                </Poptip>
            </li>
            <li>
                <a class="social-ul__a" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=jyx@rpgame.net"
                   target="_blank">
                    <color-icon type="icon-color-youxiang" :size="22"></color-icon>
                </a>
            </li>
        </ul>
        <!--你们有没有发现这个模块出现的很多次，嘿嘿，恭喜你发现这个彩蛋-->
    </div>
</div>
