<div class="j-sidebar j-block j-sidebar--archives">
    <div class="j-sidebar__header">
        <h3 class="title">归档</h3>
    </div>
    <ul class="j-sidebar__body">
        <%
        for (var i=0; i< data.length;i++) {
        %>
        <li>
            <a href="/archives#<%=data[i].post_date%>"><%=data[i].post_date2%> (<u><%=data[i].count%></u>)</a>
        </li>
        <%}%>
    </ul>
</div>
