<div class="j-article-placeholder j-block" v-if="loading">
    <div class="img"></div>
    <div class="content">
        <div class="author">
            <div class="avatar"></div>
            <div class="name"></div>
        </div>
        <div class="title"></div>
        <div class="text"></div>
        <div class="text animation-delay"></div>
        <div class="text short-text"></div>
        <div class="meta">
            <i class="am-icon-eye ic-list-read"></i>
            <div class="read"></div>
            <i class="am-icon-comment ic-list-comments"></i>
            <div class="small"></div>
            <i class="am-icon-heart ic-list-like"></i>
            <div class="small"></div>
        </div>
    </div>
</div>
