<div class="j-sidebar j-block">
    <div class="j-sidebar__header">
        <h3 class="title">精选文章</h3>
    </div>
    <div class="j-sidebar__body">
        <div class="j-article--sidebar j-left-img" v-for="i in 5" :key="i">
            <div class="j-img-warp">
                <img src="http://oht47c0d0.bkt.clouddn.com/17-1-12/40769947-file_1484187390610_17ae7.png?imageView2/2/w/200/format/jpg" alt="">
            </div>
            <div class="j-article-item-content">
                <h3 class="j-article__title">
                    <!-- 标题长度最大支持 27 -->
                    <a href="/p/Xxh4_A99d" target="_blank">
                        css 伪类选择器实现等分网格布局
                    </a>
                </h3>
                <div class="j-article__metas">
                    <a href="javascript:;" class="category">未分类</a>
                    <time datetime="2018/7/29 07:39" class="time">2018/7/29 07:39</time>
                </div>
            </div>
        </div>
    </div>
</div>
