.icon-select-panel {
    hr {
        margin: .5rem 0;
    }
}
.icon-select__tab {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
}

.icon-select-icon__item {
    float: left;
    width: 67px;
    height: 100px;
    text-align: center;
    margin-right: 8px;

    i {
        display: block;
    }
    i, .svg-icon{
        cursor: pointer;
        font-size: 25px;
        line-height: 25px;
        color: $main-font-color;
        transition: transform 0.25s ease-out;

        &:hover {
            transform: scale(1.2);
        }
    }
    .name, .fontclass {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}
