.j-article-list {
    border-color: transparent;
    z-index: 0;
    padding: 0 .25rem;
}

.j-article-item {
    position: relative;
    width: 100%;
    margin: 0 0 3rem;
    padding: 3rem;
    border-bottom: 1px solid #e2e3e4;
    word-wrap: break-word;
    border-radius: 2px;
    background-color: #fff;
}
.j-article__title {
    margin: 0px 0 4px;
    display: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    a {
        color: inherit;
        &:visited {
            color: #969696;
        }
    }
}
.j-article__sticky {
    @extend .mr-1
}
.j-article__metas {
    padding-right: 0 !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    i, .num {
        vertical-align: middle;
        @extend .mr-1;
    }

    .username, .category {
        margin-right: 0;
    }
    .username::after, .category::after{
        content: '•';
        margin: 0 5px;
        color: $main-title-sub-color;
    }
    .time {
        color: $main-title-sub-color;
    }
    .tag {
        @extend .j-article__a
    }

}
.j-article__a {
    cursor: default;
    color: $main-title-sub-color;
    &:hover {
        color: $main-font-color;
    }
}

.j-article__intro {
    font-size: 1.1rem;
}

.j-left-img {
    display: flex;

    .j-img-warp {
        flex-shrink: 0;
        width: 200px;
        margin-right: 1.5rem;
        @extend .j-vertical-center
    }
    .j-img-warp img {
        width: 100%;
        border-radius: $border-radius;
        border: 1px solid $border-color;
    }
    .j-article-item-content {
        width: 100%;
    }
    .j-article__intro {
        // 2行
        max-height: 40px;
        overflow: hidden;
    }
}
.j-right-img {
    .j-img-warp {
        height: 120px;
        float: right;
        margin-left: 1.5rem;
    }
    .j-img-warp img {
        height: 100%;
        border-radius: $border-radius;
        border: 1px solid $border-color;
    }
}

.j-top-img {
    display: flex;
    flex-direction: column;
    .j-img-warp {
        margin: -3rem -3rem 1.5rem;
        height: 360px;
        overflow: hidden;
    }
    .ivu-carousel {
        margin: -3rem -3rem 1.5rem;
    }
    .ivu-carousel .j-img-warp {
        margin: 0;
    }
}


//
//.j-article-list {
//
//    .blog {
//        position: relative;
//        width: 100%;
//        margin: 0 0 3rem;
//        padding: 3rem;
//        border-bottom: 1px solid #e2e3e4;
//        word-wrap: break-word;
//        border-radius: 2px;
//        background-color: #fff;
//        &.blurring.dimmable:hover {
//            &>:not(.dimmer){
//                -webkit-filter: blur(2px) grayscale(.7);
//                filter: blur(5px) grayscale(.7);
//                transition: .8s filter ease,.8s -webkit-filter ease;
//            }
//            .dimmer {
//                opacity: 1;
//                visibility: visible;
//            }
//        }
//        form {
//            display: flex;
//            justify-content: center;
//            align-items: center;
//            flex-direction: column;
//        }
//    }
//
//    .blog .title {
//        margin: 0px 0 4px;
//        display: inherit;
//        font-size: 1.4rem;
//        font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
//        font-weight: 700;
//        line-height: 1.5;
//        a {
//            color: inherit;
//            &:visited {
//                color: #969696;
//            }
//        }
//        span{
//            color: #3989C1;
//            font-weight: 100;
//        }
//    }
//    .blog .abstract {
//        margin: 0 0 8px;
//        font-size: 13px;
//        line-height: 24px;
//    }
//    .blog .meta {
//        padding-right: 0 !important;
//        font-size: 1rem;
//        font-weight: 400;
//        line-height: 20px;
//        color: #b4b4b4;
//        a::after{
//            content: '•';
//            margin: 0 5px;
//            color: #b4b4b4;
//        }
//    }
//    .blog .options a {
//        color: #808080;
//        margin-left: 5px;
//        &:hover{
//            color: $logo-color;
//        }
//    }
//    .blog .options i {
//        font-size: 1.6rem;
//        vertical-align: middle;
//    }
//    .blog .options .num {
//        margin-left: 5px;
//    }
//    .blog .intro {
//        line-height: 1.4rem;
//        margin-bottom: 15px;
//        margin-top: 0px;
//        font-size: 1.2rem;
//    }
//    .blog .j-category-tag {
//        .category {
//            color: $info-color !important;
//            border: 1px solid $info-color !important;
//            vertical-align: middle;
//        }
//        font-size: 1.1rem;
//        i, a:not(.category) {
//            vertical-align: middle;
//            margin-left:7px;
//            color: #787878;
//            opacity: .8;
//            &:hover{
//                opacity: 1;
//            }
//        }
//
//    }
//}
//
//.j-article-list article,
//.sidebar .part,
//.j-article-placeholder{
//    box-shadow: 0 0 5px 0 #e2e3e4;
//    border-bottom: 1px solid #d3d5d7;
//    &::before {
//        content: "";
//        height: 1px;
//        width: 100%;
//        background-color: #FFF;
//        border-bottom: 1px solid #d3d5d7;
//        box-shadow: 0 0 5px 0 #e2e3e4;
//        bottom: 2px;
//        left: 0;
//        position: absolute;
//    }
//    &::after {
//        content: "";
//        height: 1px;
//        width: 100%;
//        background-color: #FFF;
//        border-bottom: 1px solid #d3d5d7;
//        box-shadow: 0 0 5px 0 #e2e3e4;
//        bottom: 5px;
//        left: 0;
//        position: absolute;
//    }
//}
