.ivu-layout-sider, .ivu-menu-dark {
    background-color: $sider-bg-color;
}

.wrapper-header .ivu-menu-dark {
    background-color: #2f3638;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
    background-color: $sider-bg-color;
}

.ivu-layout-sider .sidebar-user-panel {
    background-color: $sider-bg-deep-color;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
    background-color: $sider-bg-deep-color;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover {
    background-color: $sider-bg-deep-color !important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
    background-color: $sider-bg-deep-color;
}

.ivu-layout-sider-children {
    display: flex;
    flex-direction: column;
    .ivu-menu {
        height: 100%;
        overflow-y: auto;
    }
}

//.ivu-menu-submenu-title .ivu-menu-submenu-title-icon { // icon 宽度不一致
//  font-size: 18px;
//  min-width: 18px;
//  text-align: center;
//}

//.ivu-tooltip-popper,.ivu-poptip-popper, .ivu-modal-wrap {
//    z-index: 1502; // 要比markdown高
//}
.ivu-modal-mask, .ivu-modal-wrap {
    z-index: 1011;
}

.iconfont {
    font-size: inherit;
}

.ivu-table {
    // 表格字体太小
    font-size: 1rem;
}

.ivu-table-cell {
    // 表格内容内边距过大
    padding-left: 14px;
    padding-right: 14px;
}

.ivu-table-tbody .ivu-table-row td:first-child {
    border-left: 2px solid transparent;
}

.ivu-table-tbody .ivu-table-row.ivu-table-row-hover td:first-child {
    border-left-color: $logo-color;
}

.ivu-breadcrumb {
    color: $main-font-color;
    > span:last-child {
        font-weight: 100;
        color: $main-title-sub-color;
    }
}

// 禁用 3.x 的菜单项hover 特效
.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover {
    color: inherit;
}

.ivu-page.mini .ivu-page-item {
    border-width: 1px;
}

.ivu-card-extra .ivu-icon-md-close {
    opacity: .66;
    &:hover {
        opacity: 1;
    }
}
