html {
    font-size: 12px;
}
// 主体
body {
    background-color: $app-body-background-color;
    //font-weight: 100;
}

a {
    color: $link-color;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color 0.2s ease-out,border 0.2s ease-out,opacity 0.2s ease-out;
}
a:hover {
    color: $link-hover-color
}
a:active {
    color: $link-active-color
}
a:active,a:hover {
    outline: 0;
    text-decoration: none
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid $border-color
}
