<!DOCTYPE html>
<html lang="en">
<head>
    <% var data = {name: 'category'} %>
    <%-include('base/head', data)%>
</head>
<body>
<%-include('loading', data); %>
<div id="app">
    <!--<div class="wrapper">-->
    asdasd
    <%-include('base/bottom', data); %>
</div>
<%-include('base/footer', data); %>
</body>
</html>
