<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/api/user/login" method="post">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit">
    </form>
<%=JSON.stringify(req.body)%>
<%=JSON.stringify(req.user)%>
</body>
</html>
