@charset "UTF-8";
@import url('//at.alicdn.com/t/font_rnr19q77sq5jnhfr.css');
body,
html {
    height: 100%;
    color: #333333;
    min-height: 500px;
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    // font-size: 10px;

}
body {
    font-size: 1.4rem;
}

a {
    // font-size: 1.4rem;
    color: @logoColor;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition:color 0.2s ease-out,border 0.2s ease-out,opacity 0.2s ease-out;
    &:active, &:hover {
        outline: 0;
        text-decoration: none;
        color: @logoColor;
    }
}
ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
* {
    outline: none;
    // font-size: 1.4rem;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
#preloader {
    opacity: 1;
}
.white{
    color: #fff;
}
[class*=am-icon-].am-fl,.iconfont.am-fl {
    margin-right: .3em;
}
.am-badge {
    cursor: pointer;
}
.am-btn-logo {
    background-color: #ec5c51;
    color: white;
    -webkit-appearance: none;
    &:hover,&:focus {
        color: white;
        background-color: #d7342e;
    }
}
.am-orange {
    &.am-corner-label{
        border-color: #f26202!important;
        color: #fff!important;
    }
}
.am-corner-label{
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: none;
    font-weight: 700;
    border: 0 solid #e8e8e8;
    border-radius: 4px;
    width: 4em;
    height: 4em;
    z-index: 1;
    background-color: transparent;
    transition: border-color .1s ease;
    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        z-index: -1;
        width: 0;
        height: 0;
        background-color: transparent !important;
        border-top: 0 solid transparent;
        border-right: 4em solid transparent;
        border-bottom: 4em solid transparent;
        border-left: 0 solid transparent;
        border-right-color: inherit;
        transition: border-color .1s ease;
    }
}
.am-tag-xs {
    font-size: .5rem;
}
// 没有使用
.am-tag{
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    background-image: none;
    padding: .38rem .38rem;
    padding-left: 10px;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    margin-left: 1em;
    position: relative;
    border-radius: 0 .28571429rem .28571429rem 0;
    transition: none;
    &::before{
        position: absolute;
        transform: translateY(-50%) translateX(50%) rotate(-45deg);
        top: 50%;
        right: 100%;
        content: '';
        background-color: inherit;
        background-image: none;
        width: 1.2em;
        height: 1.2em;
        transition: none;
    }
    &::after{
        position: absolute;
        content: '';
        top: 55%;
        left: -.25em;
        margin-top: -.25em;
        background-color: #fff!important;
        width: .3em;
        height: .3em;
        box-shadow: 0 -1px 1px 0 rgba(0,0,0,.3);
        border-radius: 500rem;
    }
}
.am-icon-stack{
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.am-icon-stack-2x {
    font-size: 2em;
}
.am-icon-stack-1x {
    line-height: inherit;
}
.am-icon-stack-1x, .am-icon-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.j-banner {
    padding-top: 30px;
    padding-bottom: 30px;
    background: url("http://oht47c0d0.bkt.clouddn.com/7f4b5d30-0bae-11e7-8a6f-d1bda6c7fa7d.png") left top #f5f5f5;
    overflow-y: hidden;
    h1{
        font-weight: 400;
        font-size: 3rem;
        text-transform:capitalize;
    }
    h1+p{
        font-size: 1.6rem;
    }
}

.category {
    padding: 2px 6px;
    color: @logoColor !important;
    border: 1px solid rgba(236,97,73,.7);
    border-radius: 3px;
    margin: 0;
}
.blurring.dimmed.dimmable>:not(.dimmer){
    -webkit-filter: blur(2px) grayscale(.7);
            filter: blur(5px) grayscale(.7);

}
.blurring.dimmable>:not(.dimmer){
    -webkit-filter: blur(0) grayscale(0);
            filter: blur(0) grayscale(0);
    transition: .8s filter ease,.8s -webkit-filter ease;

}

.dimmer {
    border-radius: inherit !important;
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,.85);
    opacity: 0;
    line-height: 1;
    animation-fill-mode: both;
    animation-duration: .5s;
    transition: background-color .5s linear;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
    visibility: hidden;
    transition:.7s all ease;
    &.active{
        display: block;
        opacity: 1;
    }
}
.inverted.dimmer {
    background-color: rgba(255,255,255,.85);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0px !important;
}
.am-with-topbar-fixed-top {
    padding: 0;
}
.am-topbar {
    margin-bottom: 0;
    border-width: 0px;
}
.am-topbar-right {
    margin-right: 0;
}
.am-container{
    max-width: 1165px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
/* Navbar
=================================*/
header .am-container {
    position: relative;
    z-index: 3;
}

header.am-topbar.bootsnav{
    margin-bottom: 0;
    border-radius: 0px;
    background-color: #fff;
    border: none;
    z-index: 9;
    transition: all .4s ease;
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

header.am-topbar.bootsnav ul.am-nav > li > a{
    color: #6f6f6f;
    background-color: transparent !important;
}

header.am-topbar.bootsnav ul.am-nav li.megamenu-fw > a:hover,
header.am-topbar.bootsnav ul.am-nav li.megamenu-fw > a:focus,
header.am-topbar.bootsnav ul.am-nav li.active > a:hover,
header.am-topbar.bootsnav ul.am-nav li.active > a:focus,
header.am-topbar.bootsnav ul.am-nav li.active > a{
    background-color: transparent;
}
@media only screen and (min-width: 641px) {
    .am-topbar-nav>li>a:after{
        bottom: 0px;
    }
    .am-topbar-nav>li>a:hover:after,.am-topbar-nav>li>a.active:after {
        opacity: 1;
        border-bottom-color: @logoColor;
    }
}
header.am-topbar.bootsnav .am-topbar-toggle{
    background-color: #fff !important;
    border: none;
    padding: 0;
    font-size: 18px;
    position: relative;
    top: 5px;
}

header.am-topbar.bootsnav ul.am-nav .dropdown-menu .dropdown-menu{
    top: 0;
    left: 100%;
}

header.am-topbar.bootsnav ul.am-nav ul.dropdown-menu > li > a{
    white-space:normal;
}



/* Atribute Navigation
=================================*/
.attr-nav{
    float: right;
    display: inline-block;
    margin-left: 13px;
    margin-right: -15px;

    > ul{
        padding: 0;
        margin: 0 0 -7px 0;
        list-style: none;
        display: inline-block;
    }
    > ul > li{
        float: left;
        display: block;
    }
    > ul > li > a{
        color: #6f6f6f;
        display: block;
        position: relative;
        line-height: 50px;
        padding: 0 20px;
    }
    > ul > li.dropdown ul.dropdown-menu{
        border-radius: 0px;
        box-shadow: 0px 0px 0px;
        border: solid 1px #e0e0e0;
    }
}


/* Top Search
=================================*/
.top-search{
    background-color: #333;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0s, height .5s,padding .5s;
    &.active {
        opacity: 1;
        padding: 10px 0;
        height: 60px;
    }

    .input-group {
        display: table;
        border-collapse: separate;
        // width: 100%;
        padding: 0 7px;
    }
    input.form-control{
        background-color: transparent;
        border: none;
        box-shadow: 0px 0px 0px;
        color: #fff;
        height: 40px;
        padding: 0 15px;
        display: table-cell;
        z-index: 2;
        float: left;
        width: 100%;
    }
    .input-group-addon{
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        background-color: transparent;
        border: none;
        color: #fff;
        padding-left: 0;
        padding-right: 0;
    }
    .input-group-addon.close-search{
        cursor: pointer;
    }
}

.blank {
    margin-top: 50px;
}


.footer {
    background: #202020;
    padding: 35px 0 0;
    width: 100%;
    border-top: 1px solid #373a3c;
    color: rgba(236, 235, 231, 0.5);
    .widget {
        padding: 0px 30px;
    }
    .widget .title{
        color: #ffffff;
        border-bottom: 1px solid @mainTitleColor;
    }
    .widget .recent-post .recent-single-post {
        border-bottom: 1px dashed @mainTitleColor;
        .post-title{
            color: @mainTitleSubColor;
            &:hover {
                color: @logoColor;
                text-decoration: none;
            }
        }
        .date {
            color: @mainFontColor;
            font-size: 1.2rem;
        }
    }
    ul>li {
        margin-bottom: 4px;
    }
    ul>li>a {
        color:@mainFontColor;
        border-bottom: dotted 1px @mainFontColor;
        &:hover{
            text-decoration: none;
            border-bottom: solid 1px @mainFontColor;
        }
    }
}
.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: @mainFontColor;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid @mainTitleColor;
    a {
        color: @mainTitleSubColor;
    }
    span {
        margin: 0 .5em;
    }
}
.widget{
    margin-bottom: 35px;
    .title {
        margin-top: 0;
        padding-bottom: 7px;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 21px;
        position: relative;
        &::after {
            content: "";
            width: 90px;
            height: 1px;
            background: @logoColor;
            position: absolute;
            left: 0;
            bottom: -1px;
        }
    }
    .recent-post .recent-single-post {
        border-bottom: 1px dashed #ebebeb;
        padding-bottom: 14px;
        margin-bottom: 14px;
        .post-title {
            color: @mainTitleSubColor;
            transition: all 0.2s ease;
        }
    }
}
#gotop {
    position: fixed;
    right: 120px;
    bottom: 10px;
    z-index: 9999;
    a {
        margin-top: 10px;
        opacity: .7;
        transition: all .1s ease-in;
        &:hover {
            color: @mainFontColor;
            opacity: 1;
            text-decoration: none;
        }
    }
    #amz-go-top {
        &:hover {
            animation: btn-pudding 1s linear;
        }
    }
    a.icon-faq{
        display: block;
        opacity: 1;
        background-color: #dd514c;
        color: #fff;
        margin-top: 10px;
        transition: all .3s ease-in;
        &:hover{
            transform: rotate(720deg);
        }
    }
}
.icon-btn {
    box-sizing: border-box;
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    border-radius: 50%;
    background-color: #eee;
    color: @mainFontColor;
    text-align: center;
    &:focus,&:hover{
        background-color: #f5f5f5;
        color: #333;
        text-decoration: none;
        outline: 0;
    }
}
.btn.red {
    background-color: @logoColor;
    color: white;
    -webkit-appearance: none;
}
.btn-bordered{
    border: 1px solid;
}
#app {
    // padding-top: 50px;
    .am-topbar-brand {
        padding: 0;

        & > img {
            height: 50px;
        }
    }

    .attr-nav a i,
    .am-nav.am-topbar-nav a {
        color: @mainTitleColor;
        font-size: 1.4rem;
        &:hover {
            color: @logoColor;
        }
    }
}

.yya {
    position: fixed;
    left: 0;
    top: 0;
}

.gizle {
    top: -50px;
}

.sabit {
    top: 0;
    z-index: 9999;
}

@keyframes btn-pudding {
    12%,15% {
        transform: scale(0.93, 1.07)
    }
    16%,17%{
        transform: scale(0.94, 1.06)
    }
    10%,18%  {
        transform: scale(0.95, 1.05)
    }
    19% {
        transform: scale(0.96, 1.04)
    }
    20% {
        transform: scale(0.98, 1.02)
    }
    21%,40%,48%  {
        transform: scale(0.99, 1.01)
    }
    22%,23%,37%,39%,49% {
        transform: scale(1, 1)
    }
    7%,24%,34%,36%{
        transform: scale(1.01, 0.99)
    }
    25%,27%,30%,33% {
        transform: scale(1.02, 0.98)
    }
    28%,29% {
        transform: scale(1.03, 0.97)
    }
    2% {
        transform: scale(1.16, 0.84)
    }
    0% {
        transform: scale(1.2, 0.8)
    }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #B9B9B9;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #B9B9B9;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: @auxiliaryColor;
}
