@charset "UTF-8";
@import "var";
@import "base";
@import "index";


.wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    .collection-wrap {
        text-align: center;
        height: 270px;
        margin-top: 80px;
        padding: 0 20px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        background-color: hsla(0,0%,71%,.1);
        transition: 0.2s ease;
        &:hover {
            box-shadow: 0 5px 20px rgba(0,0,0,.1);
            .am-btn {
                width: 110px;
            }
        }
    }

    h4 {
        margin: 10px 0;
        font-size: 21px;
        font-weight: 700;
        a {
            color: @mainTitleColor;
            text-transform:capitalize;
            outline: none;
            &:focus,&:hover{
                outline: none;
            }
        }
    }
    h4+p{
        height: 55px;
    }
    .am-btn {
        transition: 0.2s ease;
        width: 100px;
        padding: 8px 0;
    }
    .am-btn+hr{
        margin: 1.3rem 0;
    }
}
.tag-icon{
    border-radius: 8px;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-top: -40px;
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    &>i,&>img {
        vertical-align: baseline;
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 10%;
        display: inline-block;
        font-size: 48px;
        color: @auxiliaryColor;
    }
}
