@charset "UTF-8";
@import "var";
@import "base";

.headertop {
    position: relative;
    overflow: hidden;
    width: 100%;
    .centerbg {
        width: 100%;
        z-index: 0;
        height: 550px;
        // background-image: url(images/headerbg6.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        z-index: -1;
        // background-image: url("http://oht47c0d0.bkt.clouddn.com/17-1-12/40769947-file_1484187390610_17ae7.png");
        filter: blur(0px);
    }
    .slant-left {
        background: #fff;
        width: 101%;
        position: absolute;
        bottom: -80px;
        right: 48%;
        height: 200px;
        transform: rotate(6deg);
    }
    .slant-right {
        background: #fff;
        width: 101%;
        position: absolute;
        bottom: -80px;
        left: 48%;
        height: 200px;
        transform: rotate(-6deg);
    }
    .focusinfo {
        position: absolute;
        width: 100%;
        max-width: 800px;
        padding: 0 10px;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .focusinfo .avatar {
        display: block;
    }
    .focusinfo .avatar>img {
        width: 120px;
        height: auto;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.3);
    }
    .focusinfo .avatar-p {
        width: 60%;
        margin: auto;
        font-size: 14px;
        color: #EAEADF;
        background: rgba(0, 0, 0, 0.66);
        padding: 20px 30px;
        margin-top: 30px;
        font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
        letter-spacing: 1px;
        line-height: 20px;
        white-space: nowrap;
    }
}

.tags>input {
    position: absolute;
}

@media (max-width: 1280px) {
    .headertop .centerbg {
        display: none;
    }
}

.index-content{

    margin-left: auto;
    margin-right: auto;
    .row {
        margin-top: 20px;
    }
    .articles {
        padding: 0 .5rem;
        .j-title {
            font-size: 1.6rem;
            margin-bottom: 0;
        }
        .load-more {
            margin-bottom: 70px;
            margin-top: 0;
            padding-top: 50px;
            // border-top: 1px #f2f2f2 solid;
        }
        .load-more span{
            color: #D8D8D8;
            cursor: pointer;
        }
        .load-more .am-btn {
            color: #909090;
            border-color: #D8D8D8;
            background-color: white;
            border-radius: 40px;
            -webkit-appearance: none;
            &:hover{
                border-color: #b2b2b2;
                color: #666666;
                outline: none;
            }
            &:focus{
                outline: none;
            }
        }

    }
    // .sidebar {
    //     width: 310px;
    // }
    .load-more {
        text-align: center;
        margin-top: 50px;

    }



    .j-title {
        font-size: 1.6rem;
        padding-bottom: 9px;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 25px;
        h3 {
            display: inline-block;
            cursor: pointer;
            margin: 7px 0;
        }
        h3.active {
            color: @logoColor;
        }
        .gapline {
            font-size: 1.6rem;
            color: #D8D8D8;
            margin: 0 12px;
        }
    }
    h3 {
        font-size: 1.6rem;
    }


}
.recommend-post {
    padding-top: 20px;
}
.j-article-list{
    article {
        position: relative;
        width: 100%;
        margin: 0 0 17px;
        padding: 4px 12px 17px;
        border-bottom: 1px solid #f0f0f0;
        word-wrap: break-word;
        border-radius: 2px;
        &.blurring.dimmable:hover {
            &>:not(.dimmer){
                -webkit-filter: blur(2px) grayscale(.7);
                        filter: blur(5px) grayscale(.7);
                transition: .8s filter ease,.8s -webkit-filter ease;
            }
            .dimmer {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    // li.password{
    //     &:hover{
    //
    //     }
    // }
    article .password {
        &>span {
            font-size: 4.8rem
        }
        .am-icon-circle {
            color: @logoColor;
        }
        .am-icon-lock {
            color: white;
        }
        .am-form-group {
            input {
                display: inline-block;
                width: 150px;
                font-size: 1.3rem;
                padding: .5em;
                line-height: 17px;
                color: #555;
                vertical-align: middle;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                -webkit-appearance: none;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
            input+.am-btn{
                &:hover,&:focus{
                    outline: none;
                }
            }
        }
    }
    article.have-img {
        min-height: 140px;
    }
    article .title {
        margin: 0px 0 4px;
        display: inherit;
        font-size: 1.9rem;
        font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
        font-weight: 700;
        line-height: 1.5;
        a {
            color: inherit;
            &:visited {
                color: #969696;
            }
        }
        span{
            color: #3989C1;
            font-weight: 100;
        }


    }
    article .abstract {
        margin: 0 0 8px;
        font-size: 13px;
        line-height: 24px;
    }
    article .meta {
        padding-right: 0!important;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 20px;
        color: #b4b4b4;
        a::after{
            content: '•';
            margin: 0 5px;
            color: #b4b4b4;
        }
        // a {
        //     transition: .1s ease-in;
        //     margin-right: 10px;
        //     color: #b4b4b4;
        // }
    }
    article .options a {
        color: #808080;
        margin-left: 5px;
        &:hover{
            color: @logoColor;
        }
    }
    article p.intro {
        color: #808080;
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-bottom: 15px;
    }
    article .j-category-tag {
        .category {
            color:@auxiliaryColor !important;
            border: 1px solid @auxiliaryColor !important;
        }
        font-size: 1.2rem;
        i,a:not(.category) {
            margin-left:7px;
            color: #787878;
            opacity: .8;
            &:hover{
                opacity: 1;
            }
        }

    }
}

.sidebar .part {
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    background-color: #FAFAFA;
    .tag {
        display: inline-block;
        padding: 4px 10px 3px 10px;
        border: 1px solid #f2f2f2;
        color: #808080;
        font-size: 14px;
        font-size: 1.4rem;
        border-radius: 2px;
        margin: 0 7px 10px 0;
        position: relative;
        transition: border .5s ease-out;
        background-color: #fff;
        span{
            transition: opacity .5s ease-out;
        }
        &::before,&::after{
            box-sizing: border-box;
            border: 1px solid transparent;
            width: 0;
            height: 0;
            content: '';
            display: block;
            position: absolute;
        }
        &::before{
            bottom: 0;
            right: 0;
            transition: border-color 0s ease-in 0.4s,width 0.2s ease-in 0.2s,height 0.2s ease-in;
        }
        &::after {
            top: 0;
            left: 0;
            transition: border-color 0s ease-in 0.8s,width 0.2s ease-in 0.6s,height 0.2s ease-in 0.4s;
        }
        &:hover,&.active {
            color: @logoColor;
            // border-color: @logoColor;
            // background-color: rgba(34, 187, 149, 0.05);
            span:not(.tag-icon){
                opacity: 0;
            }
            span.tag-icon{
                opacity: 1;
            }
            &::before,&::after{
                width: 100%;
                height: 100%;
            }
            &::before{
                border-bottom-color: @logoColor;
                border-left-color: @logoColor;
                transition: border-color 0s ease-out 0.4s,width 0.2s ease-out 0.4s,height 0.2s ease-out 0.6s;
            }
            &::after {
                border-top-color: @logoColor;
                border-right-color: @logoColor;
                transition: width 0.2s ease-out,height 0.2s ease-out 0.2s;
            }
        }
        span.tag-icon{
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            text-align: center;
            vertical-align: middle;
        }
        i{
            vertical-align: middle;
            vertical-align: -webkit-baseline-middle;

        }
    }
    .j-title {
        position: relative;
        font-size: 16px;
        font-size: 1.6rem;
        padding-bottom: 15px;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 20px;
    }

    .j-title h3 {
        font-size: 16px;
        margin: 0;
        padding: 0;
        line-height: 24px;
        &::after{
            content: "";
            width: 100px;
            height: 1px;
            background: @logoColor;
            position: absolute;
            left: 0;
            bottom: -1px;
        }
    }

    .j-title .num {
        color: @auxiliaryColor;
        margin-right: 5px;
        font-weight: bold;
    }

    .j-title .r {
        position: absolute;
        right: 0;
        top: 1px;
        font-size: 12px;
        height: 24px;
        line-height: 25px;
        padding: 0 10px;
        border-radius: 40px;
    }

    .j-hot {
        list-style: decimal;
        margin-left: 20px;
        font-size: 14px;
    }

    .j-hot li {
        line-height: 24px;
        margin-bottom: 20px;
    }

    .j-hot a {
        display: inline-block;
        color: #333;
        font-size: 14px;
        line-height: 1.4;
        vertical-align: text-top;
    }
    .j-list li{
        line-height: 24px;
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #EDEDED;
        a{
            color: #333333;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.j-article-placeholder {
    position: relative;
    padding: 0 2px 0 0;
    margin-bottom: 50px;
    .img {
        position: absolute;
        bottom: 23px;
        right: 0;
        width: 150px;
        height: 120px;
        border-radius: 4px;
        background-color: #eaeaea;
    }
    .content {
        padding-right: 160px;
    }
    .author {
        margin-bottom: 10px;
    }
    .avatar {
        cursor: default!important;
        width: 34px;
        height: 34px;
        margin: 0 5px 0 0;
        border-radius: 50%;
        background-color: #eaeaea;
        display: inline-block;
        vertical-align: middle;
    }
    .name {
        width: 20%;
        height: 16px;
        background-color: #eaeaea;
        display: inline-block;
        vertical-align: middle;
    }
    .title {
        float: none!important;
        width: 50%;
        height: 20px;
        margin: 0 0 15px!important;
        background-color: #eaeaea;
        &:before {
            content: ""!important;
        }
    }
    .text {
        width: 100%;
        height: 16px;
        margin: 0 0 10px;
        background-color: #eaeaea;
        animation: loading 1s ease-in-out infinite;
    }
    .animation-delay {
        animation: loading 1s ease-in-out -.5s infinite;
    }
    .short-text {
        width: 40%;
        animation: shortLoading 1s ease-in-out infinite;
    }
    .meta {
        margin: 0 0 0 -5px;
        color: #eaeaea;
        font-size: 12px;
        i {
            margin: 0 5px;
            vertical-align: middle;
        }
        .read {
            height: 16px;
            width: 50px;
        }
        .small {
            height: 16px;
            width: 30px;
        }
        div{
            display: inline-block;
            vertical-align: middle;
            background-color: #eaeaea;
        }
    }
}
.ds-top-threads {
    margin-left: 20px;
    list-style: bengali;
}
.ds-recent-comments{
    a {
        color: #333333;
    }
    .ds-excerpt{
        color: #808080;
        font-size: 1.3rem;
        line-height: 1.5em;
    }
}


@keyframes shortLoading {
    0% {
        width: 20%
    }
    50% {
        width: 40%
    }
    to {
        width: 20%
    }
}

@keyframes loading {
    0% {
        width: 60%
    }
    50% {
        width: 100%
    }
    to {
        width: 60%
    }
}
