@charset "UTF-8";

.index-content{

    width: 980px;
    margin-left: auto;
    margin-right: auto;
    .row {
        margin-top: 20px;
    }
    .articles {
        width: 640px;
        .j-title {
            font-size: 1.6rem;
            margin-bottom: 0;
        }
        .load-more {
            margin-bottom: 70px;
            margin-top: 0;
            padding-top: 50px;
            border-top: 1px #f2f2f2 solid;
        }
        .load-more .btn {
            color: #909090;
            border-color: #D8D8D8;
            background-color: white;
            border-radius: 40px;
            -webkit-appearance: none;
            &:hover{
                border-color: #b2b2b2;
                color: #666666;
            }
        }
    }
    .sidebar {
        width: 310px;
    }
    .load-more {
        text-align: center;
        margin-top: 50px;

    }

    .j-title {
        font-size: 1.6rem;
        padding-bottom: 9px;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 25px;
        h3 {
            display: inline-block;
            cursor: pointer;
        }
        h3.active {
            color: @logoColor;
        }
        .gapline {
            font-size: 1.6rem;
            color: #D8D8D8;
            margin: 0 12px;
        }
    }
    h3 {
        font-size: 1.6rem;
    }
}

.sidebar .part {
    padding-left: 30px;
    margin-bottom: 50px;
    .tag {
        display: inline-block;
        padding: 4px 10px 3px 10px;
        border: 1px solid #f2f2f2;
        color: #808080;
        font-size: 14px;
        font-size: 1.4rem;
        border-radius: 2px;
        margin: 0 7px 10px 0;
        &:hover {
            color: @logoColor;
            border-color: @logoColor;
            background-color: rgba(34, 187, 149, 0.05);
        }
    }
    .title {
        position: relative;
        font-size: 16px;
        font-size: 1.6rem;
        padding-bottom: 15px;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 20px;
    }

    .title h3 {
        font-size: 16px;
        margin: 0;
        padding: 0;
        line-height: 24px;
    }

    .title .num {
        color: @logoColor;
        margin-right: 5px;
        font-weight: bold;
    }

    .title .r {
        position: absolute;
        right: 0;
        top: 1px;
        font-size: 12px;
        height: 24px;
        line-height: 25px;
        padding: 0 10px;
        border-radius: 40px;
    }

    .hot {
        list-style: decimal;
        margin-left: 20px;
        font-size: 14px;
    }

    .hot li {
        line-height: 24px;
        margin-bottom: 20px;
    }

    .hot a {
        display: inline-block;
        color: #333;
        font-size: 14px;
        line-height: 1.4;
        vertical-align: text-top;
    }
}
