#app {
    padding-top: 50px;
    .navbar{
        background-color: #FFF;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    }
    .navbar-header .navbar-brand{
        padding: 0;
        &>img {
            height: 50px;
        }
    }
    .nav.navbar-nav a{
        color: @mainTitleColor;
        &:hover{
            color: @logoColor;
        }
    }
}
//

#main {
    .row {
        margin-top: 20px;
    }
    .row {
        & > div {
            color: #ccc;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & > div:first-child {
            border-right: 1px solid #eee;
        }
    }
}
#carousel-example-generic {
    width: 100%;
    .carousel-inner>.item>img {
        width: 100%;
    }
    .acarousel-control{
        position: absolute;
        left: 0;
        top: 120px;
        height: 50px;
        width: 50px;
        font-size: 30px;
        color: #fff;
        opacity: .5;
        line-height: 50px;
        transition-duration: 0.3s;
        &.right {
            right: 0;
            left: auto;
        }
        &:hover{
            background-color: rgba(0, 0, 0, 0.6);
        }
        &:hover,&:focus {
            text-decoration: none;
            outline: 0;
            opacity: .9;
        }

    }
    .carousel-indicators{
        position: absolute;
        right: 5px;
        bottom: 5px;
        overflow: hidden;
        padding: 0px 5px;
        width: auto;
        left: auto;
        margin: 0;
        z-index: 5;
        list-style-type: none;
        li {
            cursor: pointer;
            width: 12px;
            height: 12px;
            margin: 2px 2px;
            display: inline-block;
            border: 1px solid #fff;
            border-radius: 50%;
            // &:hover{
            //     width: 15px;
            //     height: 15px;
            // }
        }
    }
    .item .acarousel-caption {
        position: absolute;
        color: #fff;
        padding-left: 10px;
        left: 0px;
        bottom: 0px;
        width: 100%;
        display: block;
        height: 35px;
        line-height: 35px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.6);
    }
    // &:hover .acarousel-control {
    //     opacity: 1;
    // }
    .carousel-control.left,.carousel-control.right{
        background-image: none;
    }
}
.img-paly {
    height: 338px;
    margin: 0;
    overflow: hidden;
    position: relative;
    border: 1px solid #EEE;
    background: #FAFAFA;
    z-index: 10;
}
